<!-- Blog share buttons section starts -->
<div class="py-16">
    <div class="max-w-screen-xl px-8 mx-auto flex items-center justify-center gap-2">
        Share:
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Check what I found!" data-url="https://chain4travel.com{{permalink}}" data-related="chain4travel" data-dnt="true" data-show-count="false">Share this on Twitter</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <a target="_blank" class="px-4 h-[28px] text-sm font-medium leading-[28px] bg-[#0a66c2] rounded-xl text-white" href="https://www.linkedin.com/shareArticle?mini=true&url=https://chain4travel.com{{permalink}}&title={{title}}&summary={{description}}&source=https://chain4travel.com{{permalink}}">Linkedin</a>
    </div>
</div>
<!-- Blog share buttons section ends -->

<!-- Blog article teaser section starts -->
<div class="py-16 md:py-32 bg-gray-900 text-white">
    <div class="max-w-screen-xl px-8 mx-auto">
        <div class="text-2xl xl:text-5xl font-black text-center">
            More blog posts
        </div>
        <div class="grid grid-cols-12 gap-6 mt-8">
            {% for x in blogposts %}
            {% if loop.index0 < 4 %}
            <a href="{{x.link}}" class="
                {% if title === x.title %} hidden {% endif %} col-span-12 md:col-span-4 bg-gray-800 transition-colors border-2 border-primary border-opacity-0 hover:border-opacity-100 group rounded-lg overflow-hidden">
                <img class="brightness-100 group-hover:brightness-125" src="{{x.coverImage}}" alt="">
                <div class="p-4 md:p-6">
                    <h2 class="font-black text-2xl md:text-3xl mb-4">{{x.title}}</h2>
                    <time class="text-gray-400">{{x.date}}</time>
                </div>
            </a>
            {% endif %}
            {% endfor %}
        </div>
        <div class="flex justify-center mt-8">
            <a href="/blog" class="btn-primary">All blogposts</a>
        </div>
    </div>
</div>
<!-- Blog article teaser section ends -->