<style>
    /* Slider */
    .slick-slide {
        margin: 0px 20px;

    }
    .slick-slide img {
        width: 100%;
    }
    .slick-slider
    {
        position: relative;
        display: block;
        box-sizing: border-box;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
                user-select: none;
        -webkit-touch-callout: none;
        -khtml-user-select: none;
        -ms-touch-action: pan-y;
            touch-action: pan-y;
        -webkit-tap-highlight-color: transparent;
    }
    .slick-list
    {
        position: relative;
        display: block;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }
    .slick-list:focus
    {
        outline: none;
    }
    .slick-list.dragging
    {
        cursor: pointer;
        cursor: hand;
    }
    .slick-slider .slick-track,
    .slick-slider .slick-list
    {
        -webkit-transform: translate3d(0, 0, 0);
           -moz-transform: translate3d(0, 0, 0);
            -ms-transform: translate3d(0, 0, 0);
             -o-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }
    .slick-track
    {
        position: relative;
        top: 0;
        left: 0;
        display: block;
    }
    .slick-track:before,
    .slick-track:after
    {
        display: table;
        content: '';
    }
    .slick-track:after
    {
        clear: both;
    }
    .slick-loading .slick-track
    {
        visibility: hidden;
    }
    .slick-slide
    {
        display: none;
        float: left;
        height: 100%;
        min-height: 1px;
    }
    [dir='rtl'] .slick-slide
    {
        float: right;
    }
    .slick-slide img
    {
        display: block;
    }
    .slick-slide.slick-loading img
    {
        display: none;
    }
    .slick-slide.dragging img
    {
        pointer-events: none;
    }
    .slick-initialized .slick-slide
    {
        display: block;
    }
    .slick-loading .slick-slide
    {
        visibility: hidden;
    }
    .slick-vertical .slick-slide
    {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
    .slick-arrow.slick-hidden {
        display: none;
    }
    </style>
    
    <script src="js/jquery.js"></script>
    <script src="js/slick.js"></script>
    <script src="js/bootstrap"></script>
    
    <div class="py-12 md:py-24 bg-gray-900 text-white">
        <div class="text-2xl xl:text-5xl font-black text-center mb-12">
            140+ supporting companies
        </div>
        <div class="max-w-screen-xl px-8 mx-auto">
            <div class="customer-logos slider">
                {% for y in partners.data | sort(attribute='attributes.companyName') %}
                {% set x = y.attributes %}
                {% if x.companyLogoLight.data.attributes.url %}
                <div class="slide">
                    <a class="flex items-center justify-center h-16 px-4" href="{{x.companyWebsite}}" target="_blank" rel="noopener noreferrer">
                        {% set logoPath = "https://api.strapi.camino.network/" + x.companyLogoLight.data.attributes.url %}
                        {% set logoAlt = x.companyName + " Logo" %}
                        {% image logoPath, logoAlt, "opacity-50 hover:opacity-100 w-full" %}
                    </a>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    
    <script>
    $(document).ready(function(){
        $('.customer-logos').slick({
            slidesToShow: 6,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 2000,
            arrows: false,
            rows: 3,
            dots: false,
            pauseOnHover: true,
            lazyLoad: 'progressive',
            responsive: [{
                breakpoint: 768,
                settings: {
                    slidesToShow: 4,
                    slidesToScroll: 2,
                }
            }, {
                breakpoint: 520,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 2,
                }
            }]
        });
    });
    </script>