---
layout: default
title: Connecting the new world of travel
description: Chain4Travel is the facilitator of the Camino consortium blockchain, a new disruptive approach to trade touristic products B2B and B2C.
---

{% include "hero.html" %}
{% include "about-teaser.html" %}

{% include "blogposts.html" %}

<section class="use-cases-bg">
    <div class="container py-24 md:py-32 mx-auto text-center">
        <h2 class="title-font sm:text-6xl text-4xl font-bold text-white mb-12">
            The power of <span class="text-primary">blockchain</span>
        </h2>
        <p class="max-w-screen-md mx-auto">
            At Chain4Travel, we believe in the power of web3. And we want the entire travel industry to benefit from it. That's why we offer everyone to discover the potential of this technology by making it accessible and easy to use with low entry barriers on Camino. We help you with the first steps and connect you with the right people on Camino. 
        </p>
    </div>
</section>

{% include "roadmap.html" %}
{% include "contact-validator.html" %}

<section>
    <div class="container mx-auto flex py-12 md:flex-row flex-col items-center">
        <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 relative">
            <img class="border border-gray-700 object-cover object-center rounded-tl-3xl rounded-br-3xl relative z-10 mb-8 md:mb-0" alt="hero" src="../images/camino-cover.png">
        </div>
        <div class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center">
            <h2 class="text-2xl lg:text-4xl mb-8 font-bold text-white">Camino network is for everyone in the travel industry</h2>
            <p class="mb-8 lg:text-lg">
                Camino network is designed to benefit all players in the travel industry: airlines, airports, travel agencies, tour operators, hotels, excursion providers - you name it.
            </p>
            <a href="https://camino.network" target="_blank" class="cursor-pointer font-semibold inline-flex p-1 bg-gradient-to-r from-[#0085ff] to-[#b440fc] focus:outline-none hover:opacity-80 rounded-lg">
                <div class="py-2 px-6 bg-gray-900 rounded-md">Go to camino.network</div>
            </a>
        </div>
    </div>
</section>

{% include "team-teaser.html" %}

<section class="">
    <div class="container py-24 md:py-32 mx-auto text-center">
        <h2 class="max-w-screen-lg mx-auto title-font sm:text-6xl text-4xl font-bold text-white mb-12">
            Camino is the <span class="text-primary">world's first</span> blockchain-based travel ecosystem
        </h2>
        <p class="max-w-screen-md mx-auto">
            Blockchain technology offers immense innovation potential for all players and segments of the travel industry. The biggest perk is the easy way to connect, transact, and share knowledge between users and businesses in the network.
        </p>
    </div>
</section>

{% include "use-cases.html" %}
{% include "supporter-teaser.html" %}

{% include "news-teaser.html" %}
{% include "contact.html" %}