---
layout: default
title: Chain4Travel - Connecting the new world of travel
description: Chain4Travel is the facilitator of the Camino consortium blockchain, a new disruptive approach to trade touristic products B2B and B2C.
---

{% include "hero.html" %}

<script>
    // Set the date we're counting down to
    var countDownDate = new Date("Sep 13, 2022 12:00:00").getTime();
    
    // Update the count down every 1 second
    var x = setInterval(function() {
    
      // Get today's date and time
    var now = new Date().getTime();
    
      // Find the distance between now and the count down date
    var distance = countDownDate - now;
    
      // Time calculations for days, hours, minutes and seconds
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
      // Display the result in the element with id="demo"
    document.getElementById("demo").innerHTML = days + "d " + hours + "h "
    + minutes + "m " + seconds + "s ";
    
      // If the count down is finished, write some text
    if (distance < 0) {
        clearInterval(x);
        document.getElementById("demo").innerHTML = "EXPIRED";
    }
    }, 1000);
    </script>

{% include "about-teaser.html" %}

<div class="text-white relative overflow-hidden border-t border-b border-gray-800">
    <div class="container py-12 md:py-24">
        <a href="/news-and-events#travel-unchained" class="relative z-10 -8 md:p-12 rounded-xl flex flex-col items-center justify-between">
            <img src="../images/unchained-logo.png" class="max-h-24" alt="The Unchained Travel Event Logo">
            <h2 class="md:text-3xl text-2xl font-bold text-white text-center my-8 md:my-0 flex-1">
                <div class="text-gray-200 font-normal text-xl my-8">The countdown is on for the biggest blockchain event in travel</div>
                <div class="h-12 flex items-center justify-center w-80 rounded-xl border-2 border-primary mx-auto p-8 bg-gray-900/80" id="demo"></div>
            </h2>
        </a>
    </div>
    <div class="z-0 bg-gradient-to-tl from-primary via-gray-900 to-secondary blur-2xl opacity-30 rounded-full w-[36rem] h-[36rem] absolute top-0 left-1/2 -translate-x-1/2"></div>
</div>

{% include "roadmap.html" %}
{% include "team-teaser.html" %}
{% include "use-cases.html" %}
{% include "supporter-teaser.html" %}
{% include "news-teaser.html" %}
{% include "jobs.html" %}
{% include "contact.html" %}