---
layout: default
title: Chain4Travel - Connecting the new world of travel
description: Chain4Travel is the facilitator of the Camino consortium blockchain, a new disruptive approach to trade touristic products B2B and B2C.
---

{% include "hero.html" %}

<div class="container">
    <div class="bg-gray-800 p-8 md:p-12 rounded-xl flex flex-col md:flex-row items-center justify-between">
        <img src="../images/unchained-logo.svg" class="max-h-24" alt="">
        <h2 class="md:text-3xl text-2xl font-bold text-white text-center my-8 md:my-0">The biggest blockchain <br> event for the travel industry</h2>
        <a href="/news-and-events#travel-unchained" class="transition-colors cursor-pointer font-semibold mr-4 inline-flex text-white border border-white hover:text-gray-900 py-2 px-6 focus:outline-none hover:bg-white rounded-lg md:text-lg flex-none">Join us in Palma</a>
    </div>
</div>

{% include "about-teaser.html" %}
{% include "roadmap.html" %}
{% include "team-teaser.html" %}
{% include "use-cases.html" %}
{% include "supporter-teaser.html" %}
{% include "news-teaser.html" %}
{% include "jobs.html" %}
{% include "contact.html" %}