---
layout: default
title: News & Events
---

<section class="overflow-hidden mt-24 md:mt-12 py-12 md:py-32">
  <div class="container mx-auto flex flex-col items-start">
      <div class="text-secondary uppercase text-sm font-bold tracking-widest mb-4 lg:mb-8">Supporters</div>
      <h2 class="lg:text-7xl text-3xl mb-8 font-bold text-gray-50">
          News & Events
      </h2>
  </div>
</section>


<section class="container">
  <h2 class="font-bold text-xl mb-8">Latest press and news articles:</h2>
  {% for news in news %}
    <a href="{{news.link}}" target="_blank" rel="noopener noreferrer" class="text-sm group flex items-center p-4 border-b border-gray-700 hover:bg-gray-800">
      {% if news.icon %}
        <img src="{{news.icon}}" width="24" height="24" alt="" class="rounded flex-shrink-0 mr-4 bg-gray-800 border-0 outline-0">
      {% endif %}
      {% if news.icon === "" %}
        <div class="w-6 h-6 bg-gray-800 mr-4 rounded"></div>
      {% endif %}
      <span class="">{{news.title}} <small class="text-gray-400">( {{news.category}} )</small></span>
    </a>
  {% endfor %}
</section>

<section class="container mt-16 md:mt-32">

  <h2 class="font-bold text-xl mb-8">Upcoming events</h2>
  <div class="grid grid-cols-12 gap-4 md:gap-6">
    {% for event in events %}
      {% if event.category === "Upcoming" %}
        <div class="p-4 md:p-8 bg-gray-800 rounded-lg mb-4 col-span-12 md:col-span-6">
          <h3 class="text-2xl font-bold">{{ event.title }}</h3>
          <p class="text-sm text-secondary mt-1">{{ event.date }}</p>
          <p class="text-sm text-gray-400 my-4">{{ event.description }}</p>
          {% if event.link %}
          <a class="text-primary text-sm flex items-center hover:underline" href="{{ event.link }}" target="_blank" rel="noopener noreferrer">
            {{ event.link }}
            <svg class="flex-shrink-0 w-4 h-4 ml-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14"></path></svg>
          </a>
          {% endif %}
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <h2 class="font-bold text-xl mb-8 mt-12">Past events</h2>
  <div class="grid grid-cols-12 gap-4 md:gap-6">
    {% for event in events %}
      {% if event.category === "Past Events" %}
        <div class="p-4 md:p-8 bg-gray-800 rounded-lg mb-4 col-span-12 md:col-span-6">
          <h3 class="text-2xl font-bold">{{ event.title }}</h3>
          <p class="text-sm text-secondary mt-1">{{ event.date }}</p>
          <p class="text-sm text-gray-400 my-4">{{ event.description }}</p>
          {% if event.link %}
          <a class="text-primary text-sm flex items-center hover:underline" href="{{ event.link }}" target="_blank" rel="noopener noreferrer">
            {{ event.link }}
            <svg class="flex-shrink-0 w-4 h-4 ml-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14"></path></svg>
          </a>
          {% endif %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
  
</section>