---
layout: default
title: Join the Camino Pre-Sale
description: Become a CAM token holder and apply as an early investor in the Camino project.
---

<section class="relative overflow-hidden my-24 md:my-12 py-12 md:py-32">
    <div class="container mx-auto flex flex-col items-start relative z-10">
        <div class="text-secondary uppercase text-sm font-bold tracking-widest mb-4 lg:mb-8">Private Sale</div>
        <h1 class="lg:text-7xl text-3xl mb-8 max-w-2xl font-bold text-white relative z-10">
            Camino Token <br> <span class="text-primary">Pre-Sale</span>
        </h1>
        <img class="absolute rotate-[22deg] left-[240px] sm:left-[300px] lg:left-[600px] top-8 lg:top-12 z-0 w-32 md:w-48 lg:w-64" src="/images/soldout.png" alt="">
    </div>
    <div class="z-0 bg-gradient-to-tr from-primary via-gray-900 to-secondary blur-3xl rounded-full w-screen h-48 absolute -bottom-24 left-1/2 -translate-x-1/2"></div>
</section>

<section class="container mt-12 mb-12 md:mt-24 md:mb-12">
    <div class="text-center w-full">
        <h2 class="mb-4 text-2xl font-bold uppercase tracking-wider text-primary">Sold Out!</h2>
        <h2 class="md:text-5xl text-2xl font-bold text-white">Camino Pre-sale is officially closed</h2>
        <h3 class="text-xl mt-8 text-muted max-w-5xl mx-auto">In the Camino token pre-sale, partners and individuals who believe in the idea of a shared network as a common operating system for the travel industry and want to drive it forward had the opportunity to invest.</h3>
        {% include "pre-sale-disclaimer.html" %}
    </div>
</section>

{% include "contact-validator.html" %}