---
layout: default
title: Join the Camino Pre-Sale
description: Become a CAM token holder and apply as an early investor in the Camino project.
---

<section class="relative overflow-hidden my-24 md:my-12 py-12 md:py-32">
    <div class="container mx-auto flex flex-col items-start relative z-10">
        <div class="text-secondary uppercase text-sm font-bold tracking-widest mb-4 lg:mb-8">Private Sale</div>
        <h2 class="lg:text-7xl text-3xl mb-8 max-w-2xl font-bold text-white relative z-10">
            Camino Token <br> <span class="text-primary">Pre-Sale</span>
        </h2>
        <p class="text-gray-200 text-lg md:text-2xl md:w-4/5 md:pr-8 relative z-10">
            The registration for applying as an early investor in the Camino project is closed. <br>
            Please contact us via <a href="mailto:hello@chain4travel.com" class="text-primary hover:underline">hello@chain4travel.com</a> for any pending questions regarding the pre-sale.
        </p>
        <img class="absolute rotate-[22deg] left-[240px] sm:left-[300px] lg:left-[600px] top-8 lg:top-12 z-0 w-32 md:w-48 lg:w-64" src="/images/soldout.png" alt="">
    </div>
    <div class="z-0 bg-gradient-to-tr from-primary via-gray-900 to-secondary blur-3xl rounded-full w-screen h-48 absolute -bottom-24 left-1/2 -translate-x-1/2"></div>
</section>

<section class="container mt-12 mb-12 md:mt-24 md:mb-12">
    <div class="text-center w-full">
        <h2 class="mb-4 text-2xl font-bold uppercase tracking-wider text-primary">Sold Out!</h2>
        <h2 class="md:text-5xl text-2xl font-bold text-white">Camino Pre-sale is officially closed</h2>
        <h3 class="text-xl mt-8 text-muted max-w-5xl mx-auto">In the Camino token pre-sale, partners and individuals who believe in the idea of a shared network as a common operating system for the travel industry and want to drive it forward had the opportunity to invest.</h3>
        {% include "pre-sale-disclaimer.html" %}
    </div>
</section>

<section class="overflow-hidden">
    <div class="container md:grid grid-cols-12 gap-8">
        <div class="border-2 border-gray-700 col-span-4 overflow-hidden rounded-xl mb-4 md:mb-0 relative">
            <div class="absolute uppercase -rotate-6 text-2xl tracking-widest whitespace-nowrap bg-gray-600 text-white px-6 py-4 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full z-10">Sold Out</div>
            <div class="opacity-30">
                <img src="../images/pre-sale-option-2.png" class="object-cover h-56 w-full mb-4" alt="Camino Pre-Sale Option One Cover">
                <div class="uppercase text-secondary font-bold text-center tracking-wider text-sm">Option one</div>
                <h3 class="mt-2 text-3xl font-bold text-center">1 <span class="text-lg">CAM</span> = 0.10 <span class="text-lg">CHF</span></h3>
                <ul class="px-6 my-4">
                    <li class="flex items-center py-2">
                        <svg class="flex-shrink-0 text-gray-400 mr-2 w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z"></path></svg>
                        Locking <span class="ml-auto font-bold text-primary">3 years</span>
                    </li>
                    <li class="flex items-center py-2">
                        <svg class="flex-shrink-0 text-gray-400 mr-2 w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v13m0-13V6a2 2 0 112 2h-2zm0 0V5.5A2.5 2.5 0 109.5 8H12zm-7 4h14M5 12a2 2 0 110-4h14a2 2 0 110 4M5 12v7a2 2 0 002 2h10a2 2 0 002-2v-7"></path></svg>
                        Reward p.a. <span class="ml-auto font-bold text-primary">8%</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="border-2 border-gray-700 col-span-4 overflow-hidden rounded-xl mb-4 md:mb-0 relative">
            <div class="absolute uppercase -rotate-6 text-2xl tracking-widest whitespace-nowrap bg-gray-600 text-white px-6 py-4 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full z-10">Sold Out</div>
            <div class="opacity-30">
                <img src="../images/pre-sale-option-2.png" class="object-cover h-56 w-full mb-4" alt="Camino Pre-Sale Option Two Cover">
                <div class="uppercase text-secondary font-bold text-center tracking-wider text-sm">Option two</div>
                <h3 class="mt-2 text-3xl font-bold text-center">1 <span class="text-lg">CAM</span> = 0.10 <span class="text-lg">CHF</span></h3>
                <ul class="px-6 my-4">
                    <li class="flex items-center py-2">
                        <svg class="flex-shrink-0 text-gray-400 mr-2 w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z"></path></svg>
                        Locking <span class="ml-auto font-bold text-primary">4 years</span>
                    </li>
                    <li class="flex items-center py-2">
                        <svg class="flex-shrink-0 text-gray-400 mr-2 w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v13m0-13V6a2 2 0 112 2h-2zm0 0V5.5A2.5 2.5 0 109.5 8H12zm-7 4h14M5 12a2 2 0 110-4h14a2 2 0 110 4M5 12v7a2 2 0 002 2h10a2 2 0 002-2v-7"></path></svg>
                        Reward p.a. <span class="ml-auto font-bold text-primary">9%</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="border-2 border-gray-700 col-span-4 overflow-hidden rounded-xl mb-4 md:mb-0 relative">
            <div class="absolute uppercase -rotate-6 text-2xl tracking-widest whitespace-nowrap bg-gray-600 text-white px-6 py-4 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full z-10">Sold Out</div>
            <div class="opacity-30">
                <img src="../images/pre-sale-option-2.png" class="object-cover h-56 w-full mb-4" alt="Camino Pre-Sale Option Three Cover">
                <div class="uppercase text-secondary font-bold text-center tracking-wider text-sm">Option three</div>
                <h3 class="mt-2 text-3xl font-bold text-center">1 <span class="text-lg">CAM</span> = 0.10 <span class="text-lg">CHF</span></h3>
                <ul class="px-6 my-4">
                    <li class="flex items-center py-2">
                        <svg class="flex-shrink-0 text-gray-400 mr-2 w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z"></path></svg>
                        Locking <span class="ml-auto font-bold text-primary">5 years</span>
                    </li>
                    <li class="flex items-center py-2">
                        <svg class="flex-shrink-0 text-gray-400 mr-2 w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v13m0-13V6a2 2 0 112 2h-2zm0 0V5.5A2.5 2.5 0 109.5 8H12zm-7 4h14M5 12a2 2 0 110-4h14a2 2 0 110 4M5 12v7a2 2 0 002 2h10a2 2 0 002-2v-7"></path></svg>
                        Reward p.a. <span class="ml-auto font-bold text-primary">10%</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="container mt-12 mb-12 md:mt-24 md:mb-12">
    <div class="text-center w-full">
        <h3 class="text-xl mt-8 text-muted max-w-5xl mx-auto">Interested in joining Camino?</h3>
        <a href="#validatorForm" class="inline-block mt-8 transition-colors cursor-pointer font-semibold text-dark bg-secondary py-2 px-6 focus:outline-none hover:bg-white rounded-lg md:text-lg">Contact us</a>
    </div>
</section>

<section class="mt-16 md:mt-24">
    <div class="container mx-auto md:flex justify-end items-center">
        <div class="w-full md:w-1/3 relative mb-8 lg:mb-0">
            <img class="object-cover object-center rounded-tl-3xl rounded-br-3xl relative" alt="Locking image" src="../images/locking-image.png">
        </div>
        <div class="mb-2 w-full md:w-2/3 md:pl-32">
            <h2 class="font-bold text-2xl md:text-4xl mb-4">Locked Camino tokens</h2>
            <p class="text-muted mb-8">Token vesting is a way to ensure the safety and confidence of early investors in new blockchain projects. The existing token vesting process involves the locking of tokens for a set period of time. During that time all bought tokens will be visible in the investor’s wallet, however, they are not accessable (=locked).</p>
            <p class="text-muted">The vesting mechanism foresees that 6 months prior to the ending of the official lock up period, a 1 year period starts where the tokens linearly become unlock-able. The accumulated unlock-able tokens can be unlocked at any time and 6 months after the set date, all pre-sale tokens are unlock-able. The <span class="font-bold">1 year unlocking period</span> ensures the chosen locking period complies on average with the actual years of token locking.</p>
        </div>
    </div>
</section>

<section class="my-24">
    <div class="container mx-auto flex flex-col md:flex-row justify-end items-center">
        <div class="mb-2 w-full md:w-2/3 md:pr-32">
            <h2 class="font-bold text-2xl md:text-4xl my-4">The idea of Camino</h2>
            <p class="text-muted mb-8">
                As opposed to the hierarchical structure of today’s travel industry, Camino, with its network structure, fosters communication and collaboration among partners on eye level. Thus, Camino creates an ecosystem with equal chances and opportunities where demand and supply for B2B services form a natural equilibrium and create an equitable space for doing business; this, consequently, will stimulate the creation of new business models, new end-customer products, and enhance the traveler’s experience of tomorrow.
            </p>
            <h2 class="font-bold text-2xl md:text-4xl mb-4">Why you should invest in the project</h2>
            <ol class="list-inside text-muted">
                <li class="mb-4"><span class="ml-auto font-bold text-white">Be part of the network.</span> The Camino token is your door opener to the world of Camino where you can buy & sell touristic services, stake your token and vote on the governance of Camino.</li>
                <li><span class="font-bold text-white">A new world of travel.</span> Camino bears the opportunity for the travel industry to disrupt itself and create a new, purposeful way of how travel is organized and structured around the globe.</li>
            </ol>
        </div>
        <div class="w-full md:w-1/3 relative mb-8 lg:mb-0 order-first md:order-last">
            <img class="object-cover object-center rounded-tl-3xl rounded-br-3xl relative" alt="The Idea of Camino" src="../images/token-animated.gif">
        </div>
    </div>
</section>

{% include "contact-validator.html" %}

<section class="use-cases-bg my-12 md:my-24 py-12 md:py-24">
    <div class="container mx-auto">
            <h2 class="md:text-5xl text-2xl font-bold text-white text-center mb-12">Camino is for everyone</h2>
            <div class="grid grid-cols-12 gap-4">
                <div class="bg-gray-800 border-2 border-gray-700 py-8 px-4 rounded-2xl col-span-6 md:col-span-3 flex flex-col items-center">
                    <div class="bg-gradient-to-br from-secondary via-dark to-primary p-4 md:p-6 rounded-full mb-4">
                        <svg class="w-6 h-6 md:w-10 md:h-10" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z"></path></svg>
                    </div>
                    Travellers
                </div>
                <div class="bg-gray-800 border-2 border-gray-700 py-8 px-4 rounded-2xl col-span-6 md:col-span-3 flex flex-col items-center">
                    <div class="bg-gradient-to-br from-secondary via-dark to-primary p-4 md:p-6 rounded-full mb-4">
                        <svg class="w-6 h-6 md:w-10 md:h-10" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 13.255A23.931 23.931 0 0112 15c-3.183 0-6.22-.62-9-1.745M16 6V4a2 2 0 00-2-2h-4a2 2 0 00-2 2v2m4 6h.01M5 20h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"></path></svg>
                    </div>
                    Service Providers
                </div>
                <div class="bg-gray-800 border-2 border-gray-700 py-8 px-4 rounded-2xl col-span-6 md:col-span-3 flex flex-col items-center">
                    <div class="bg-gradient-to-br from-secondary via-dark to-primary p-4 md:p-6 rounded-full mb-4">
                        <svg class="w-6 h-6 md:w-10 md:h-10" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 3v2m6-2v2M9 19v2m6-2v2M5 9H3m2 6H3m18-6h-2m2 6h-2M7 19h10a2 2 0 002-2V7a2 2 0 00-2-2H7a2 2 0 00-2 2v10a2 2 0 002 2zM9 9h6v6H9V9z"></path></svg>
                    </div>
                    Tech Providers
                </div>
                <div class="bg-gray-800 border-2 border-gray-700 py-8 px-4 rounded-2xl col-span-6 md:col-span-3 flex flex-col items-center mb-2 md:mb-0">
                    <div class="bg-gradient-to-br from-secondary via-dark to-primary p-4 md:p-6 rounded-full mb-4">
                        <svg class="w-6 h-6 md:w-10 md:h-10" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 9V7a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2m2 4h10a2 2 0 002-2v-6a2 2 0 00-2-2H9a2 2 0 00-2 2v6a2 2 0 002 2zm7-5a2 2 0 11-4 0 2 2 0 014 0z"></path></svg>
                    </div>
                    Investors
                </div>
            </div>
        </div>
</section>