---
layout: default
title: Growing Network of Supporters
description: Chain4Travel's support network is steadily growing. The big names of the travel industry are already on board. See what they have to say.
---

<section class="relative overflow-hidden my-24 md:my-12 py-12 md:py-32">
  <div class="container mx-auto flex flex-col items-start relative z-10">
      <div class="text-secondary uppercase text-sm font-bold tracking-widest mb-4 lg:mb-8">Supporters</div>
      <h2 class="lg:text-7xl text-3xl mb-8 font-bold text-gray-50">
        The <span class="text-primary">growing network</span> <br> of Chain4Travel
      </h2>
      <p class="text-gray-200 text-lg md:text-2xl md:w-3/5 md:pr-8">
        We are a fast-growing network. Be a first-mover and join the travel revolution now.
      </p>
  </div>
  <div class="z-0 bg-gradient-to-tr from-primary via-gray-900 to-secondary blur-3xl rounded-full w-screen h-48 absolute -bottom-24 left-1/2 -translate-x-1/2"></div>
</section>

{% include "testimonials.html" %}
{% include "supporter.html" %}