---
layout: default
title: Supporter
---

<section class="overflow-hidden mt-24 py-12 md:py-24">
    <div class="container mx-auto flex flex-col items-start">
        <div class="text-secondary uppercase text-sm font-bold tracking-widest mb-4 lg:mb-8">Supporter</div>
        <h2 class="lg:text-7xl text-3xl mb-8 font-bold text-gray-50">
            The growing network of <span class="text-primary">Chain4Travel</span>
        </h2>
    </div>
</section>

{% include "testimonials.html" %}
{% include "supporter.html" %}