<section class="text-gray-400">
    <div class="container py-24 md:flex items-center">
      <div class="mb-8 md:mb-0 md:pr-24">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="block w-5 h-5 text-primary mb-4" viewBox="0 0 975.036 975.036">
            <path d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"></path>
          </svg>
        <h2 class="text-2xl text-gray-100">Camino has the potential to revolutionize the travel industry in the same way as Netflix revolutionized video rentals. We are clearly not yet capitalizing on today's technological possibilities and customer expectations concerning the current state of travel technology and it’s associated processes.</h2>
        <div class="inline-flex items-center mt-6">
            <img alt="testimonial-photo" src="../images/pablocastillo.png" class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center">
            <span class="flex-grow flex flex-col pl-4">
              <span class="title-font font-medium text-white">Pablo Castillo</span>
              <span class="text-white0 text-sm">CTO Chain4Travel</span>
            </span>
        </div>
      </div>
      <div class="md:w-2/5 lg:w-2/5 flex-shrink-0">
          <div class="bg-gray-900 rounded-3xl p-6 lg:p-12 text-white camino-glas">
            <p class="leading-relaxed">The <span class="font-semibold">Camino Network</span> is a high-performance, highly scalable network for the travel industry that supports the creation of sophisticated smart contracts. Camino is a public permissioned blockchain developed by Chain4Travel AG, operated and governed by key market participants of the travel industry.
            </p>
            <a href="https://camino.network" target="_blank" class="mt-4 cursor-pointer font-semibold inline-flex p-1 bg-gradient-to-r from-[#0085ff] to-[#b440fc] focus:outline-none group rounded-lg">
              <div class="py-2 px-6 bg-gray-900 rounded-md group-hover:bg-white group-hover:text-gray-900 transition-colors">Go to camino.network</div>
            </a>
          </div>
        </div>
    </div>
  </section>