<section class="bg-gray-800">
    <div class="container py-12 md:py-24 mx-auto relative z-10">
    <h2 class="text-center title-font sm:text-6xl text-4xl font-bold text-white mb-8 md:mb-16" id="blogposts">
        Check out our latest blog posts
    </h2>
    <div class="grid grid-cols-12 gap-4">
        <a href="/safe-secure-and-seamless-the-advantages-of-crypto-wallets-for-the-travel-industry" class="border border-gray-700 col-span-12 bg-gray-900 lg:col-span-4 rounded-lg overflow-hidden hover:border-secondary transition-colors group">
            <img src="/images/wallets-article.png" class="h-56 w-full object-cover border-b border-gray-700 group-hover:brightness-125 transition-all" alt="">
            <div class="p-5 md:p-7">
                <h2 class="font-bold text-xl">Safe, Secure, and Seamless: The Advantages of Crypto Wallets for the Travel Industry</h2>
                <div class="inline-flex items-center rounded-lg my-4 text-sm">
                    <img alt="testimonial-photo" src="../images/tabeaarnold.png" class="w-6 h-6 rounded-full flex-shrink-0 object-cover object-center">
                    <span class="ml-3 text-gray-200">April 27, 2023</span>
                </div>
                <p class="text-gray-300 line-clamp-4 text-base">
                    Find out why crypto wallets are beneficial for the travel industry, even if customers aren't embracing web3 technologies (yet)
                </p>
            </div>
        </a>
        <a href="/nfts-arent-just-digital-monkeys-heres-what-they-can-do-for-travel" class="border border-gray-700 col-span-12 bg-gray-900 lg:col-span-4 rounded-lg overflow-hidden hover:border-secondary transition-colors group">
            <img src="/images/whatAreNFTs-article.png" class="h-56 w-full object-cover border-b border-gray-700 group-hover:brightness-125 transition-all" alt="">
            <div class="p-5 md:p-7">
                <h2 class="font-bold text-xl">NFTs aren’t just digital monkeys. Here’s what they can do for travel</h2>
                <div class="inline-flex items-center rounded-lg my-4 text-sm">
                    <img alt="testimonial-photo" src="../images/danielpoerschke.png" class="w-6 h-6 rounded-full flex-shrink-0 object-cover object-center">
                    <span class="ml-3 text-gray-200">March 16, 2023</span>
                </div>
                <p class="text-gray-300 line-clamp-4 text-base">
                    NFTs are way more than funny pictures. They can be used to tokenize all assets like hotel stays or even microservices. Learn how digital assets can revolutionize the travel industry.
                </p>
            </div>
        </a>
        <a href="/a-layer-1-blockchain-for-the-travel-industry-why-not" class="border border-gray-700 col-span-12 bg-gray-900 lg:col-span-4 rounded-lg overflow-hidden hover:border-secondary transition-colors group">
            <img src="/images//level1-article.png" class="h-56 w-full object-cover border-b border-gray-700 group-hover:brightness-125 transition-all" alt="">
            <div class="p-5 md:p-7">
                <h2 class="font-bold text-xl">A Layer 1 blockchain for the travel industry - Why (not)?</h2>
                <div class="inline-flex items-center rounded-lg my-4 text-sm">
                    <img alt="testimonial-photo" src="../images/ankehsu.png" class="w-6 h-6 rounded-full flex-shrink-0 object-cover object-center">
                    <span class="ml-3 text-gray-200">February 23, 2023</span>
                </div>
                <p class="text-gray-300 line-clamp-4 text-base">
                    We are going to get a bit more technical again and explain why the travel industry needs its own so-called Layer 1 blockchain.
                </p>
            </div>
        </a>
    </div>
    <div class="flex items-center justify-center mt-8 md:mt-12">
        <a href="/news" class="transition-colors cursor-pointer font-semibold inline-flex text-dark bg-secondary py-2 px-6 focus:outline-none hover:bg-white rounded-lg md:text-lg">
            News page
        </a>
    </div>
</div>
</section>