<section class="bg-gray-800">
    <div class="container py-12 md:py-24 mx-auto relative z-10">
    <h2 class="text-center title-font sm:text-6xl text-4xl font-bold text-white mb-8 md:mb-16" id="blogposts">
        Check out our latest blog posts
    </h2>
    <div class="grid grid-cols-12 gap-4">
        <a href="/a-layer-1-blockchain-for-the-travel-industry-why-not" class="border border-gray-700 col-span-12 bg-gray-900 lg:col-span-4 rounded-lg overflow-hidden hover:border-secondary transition-colors group">
            <img src="/images//level1-article.png" class="h-56 w-full object-cover border-b border-gray-700 group-hover:brightness-125 transition-all" alt="">
            <div class="p-5 md:p-7">
                <h2 class="font-bold text-xl">A Layer 1 blockchain for the travel industry - Why (not)?</h2>
                <div class="inline-flex items-center rounded-lg my-4 text-sm">
                    <img alt="testimonial-photo" src="../images/ankehsu.png" class="w-6 h-6 rounded-full flex-shrink-0 object-cover object-center">
                    <span class="ml-3 text-gray-200">March 29, 2023</span>
                </div>
                <p class="text-gray-300 line-clamp-4 text-base">
                    We are going to get a bit more technical again and explain why the travel industry needs its own so-called Layer 1 blockchain.
                </p>
            </div>
        </a>
        <a href="/camino-101-what-you-should-know-about-camino-network" class="border border-gray-700 col-span-12 bg-gray-900 lg:col-span-4 rounded-lg overflow-hidden hover:border-secondary transition-colors group">
            <img src="/images/camino101-article.png" class="h-56 w-full object-cover border-b border-gray-700 group-hover:brightness-125 transition-all" alt="">
            <div class="p-5 md:p-7">
                <h2 class="font-bold text-xl">Camino 101: What you should know about Camino Network</h2>
                <div class="inline-flex items-center rounded-lg my-4 text-sm">
                    <img alt="testimonial-photo" src="../images/pablocastillo.png" class="w-6 h-6 rounded-full flex-shrink-0 object-cover object-center">
                    <span class="ml-3 text-gray-200">January 20, 2023</span>
                </div>
                <p class="text-gray-300 line-clamp-4 text-base">
                    So far, we have been talking a lot about the basics of blockchains and web3. Today we want to share more insights about Camino, the web3 ecosystem for the travel industry.
                </p>
            </div>
        </a>
        <a href="/decentralization-in-travel-back-to-the-basics" class="border border-gray-700 col-span-12 bg-gray-900 lg:col-span-4 rounded-lg overflow-hidden hover:border-secondary transition-colors group">
            <img src="/images/decentralization-article.png" class="h-56 w-full object-cover border-b border-gray-700 group-hover:brightness-125 transition-all" alt="">
            <div class="p-5 md:p-7">
                <h2 class="font-bold text-xl">Decentralization in Travel - Are we in the midst of a paradigm shift?</h2>
                <div class="inline-flex items-center rounded-lg my-4 text-sm">
                    <img alt="testimonial-photo" src="../images/helenavossen.png" class="w-6 h-6 rounded-full flex-shrink-0 object-cover object-center">
                    <span class="ml-3 text-gray-200">December 21, 2022</span>
                </div>
                <p class="text-gray-300 line-clamp-4 text-base">
                    Is decentralized travel the future? Decentralization could disrupt the travel industry as we know it. Learn how to leverage it to your advantage.
                </p>
            </div>
        </a>
    </div>
    <div class="flex items-center justify-center mt-8 md:mt-12">
        <a href="/news" class="transition-colors cursor-pointer font-semibold inline-flex text-dark bg-secondary py-2 px-6 focus:outline-none hover:bg-white rounded-lg md:text-lg">
            News page
        </a>
    </div>
</div>
</section>