<section class="text-gray-500 relative overflow-hidden">
  <div class="container py-12 md:py-24 mx-auto relative z-10">
      <div class="lg:flex items-center">
        <div class="lg:w-1/2 lg:pr-24">
          <h2 id="contact" class="title-font sm:text-6xl text-3xl font-bold text-gray-50" id="team">Get in touch</h2>
          <h3 class="text-lg text-gray-500 my-8">
            If you have any questions regarding Chain4Travel or the Camino Blockchain, please contact us and we will get back to you shortly.
          </h3>
        </div>
        <div class="lg:w-1/2 relative">
          <form name="c4t-contact" method="POST" action="/contact-success" data-netlify="true" netlify-honeypot="bot-field" class="relative z-50 block mx-auto bg-gray-900 shadow-lg border border-gray-800 p-8 rounded">
            <p class="hidden">
              <label>
                Don't fill this out if you're human: <input name="bot-field" />
              </label>
            </p>
            <p class="">
              <label class="">Your Name:
                <input required placeholder="Your name ..." type="text" name="name" class="placeholder-gray-500 bg-gray-800 border border-gray-700 rounded block w-full mt-1 focus:ring-2 text-gray-50 focus:ring-offset-gray-900 focus:ring-secondary" />
              </label>
            </p>
            <p class="mt-4">
              <label class="">Your Email:
                <input required placeholder="Your email address ..." type="email" name="email" class="placeholder-gray-500 bg-gray-800 border border-gray-700 rounded block w-full mt-1 focus:ring-2 text-gray-50 focus:ring-offset-gray-900 focus:ring-secondary" />
              </label>
            </p>
            <p class="mt-4">
              <label class="">Message:
                <textarea required placeholder="Your question ..." name="message" class="resize-none h-36 placeholder-gray-500 bg-gray-800 border border-gray-700 rounded block w-full mt-1 focus:ring-2 text-gray-50 focus:ring-offset-gray-900 focus:ring-secondary"></textarea>
              </label>
            </p>
            <p class="mt-4">
              <div class="flex text-base">
                <input required type="checkbox" name="agreement" id="agreement" class="mt-2 rounded w-6 h-6 bg-dark border-secondary text-secondary focus:ring-secondary focus:ring-offset-dark cursor-pointer">
                <label for="agreement" class="ml-4 text-gray-400">I agree to the <a href="/data-privacy.html">privacy policy</a> and I consent to being contacted by Chain4Travel via email. I agree to the storage of my transmitted data for the required period of time.</label>
              </div>
            </p>
            <p>
              <button class="w-full flex-shrink-0 text-gray-900 font-semibold bg-secondary border-0 py-2 px-8 focus:outline-none hover:bg-secondary/75 rounded-lg text-lg mt-8" type="submit">Send</button>
            </p>
          </form>
          <div class="z-0 bg-gradient-to-tl from-primary via-gray-900 to-secondary blur-xl opacity-30 rounded-full w-[36rem] h-[36rem] absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2"></div>
        </div>
      </div>
  </div>
</section>