<section class="overflow-hidden">
    <div class="container mx-auto flex py-12 md:py-24 md:mt-12 md:flex-row flex-col items-center">
        <div class="lg:flex-grow md:w-1/2 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
            <h1 class="title-font lg:text-6xl text-3xl mb-8 font-bold text-gray-50">
                Connecting the new world of travel.
            </h1>
            <p class="mb-8 text-muted lg:text-lg">
                Chain4Travel is the facilitator of the Camino consortium blockchain, a new disruptive approach to trade touristic products B2B and B2C with over 50 supporters from the travel industry.
            </p>
            <p class="mb-8 text-muted lg:text-lg">
                Chain4Travel provides the KYC process and the application suite for the Camino platform to ensure a fast, stable and secure environment for all travel enthusiasts while taking advantage of all blockchain-associated features.
            </p>
            <div class="flex justify-center">
                <a href="mailto:hello@chain4travel.com" class="mr-4 inline-flex text-dark bg-secondary border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded lg:text-lg">Contact Us</a>
            </div>
        </div>
        <div class="lg:max-w-xl lg:w-full md:w-1/2 w-5/6 order-first lg:order-last relative my-8 md:my-0">
            <img class="relative z-10 object-cover object-center rounded" alt="hero" src="images/hero-image.png">
            <div class="z-0 bg-gradient-to-tl from-primary via-gray-900 to-secondary animate-pulse opacity-30 blur-2xl rounded-full lg:w-[32rem] md:w-[20rem] lg:h-[32rem] md:h-[20rem] w-[32rem] h-[8rem] absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"></div>
        </div>
    </div>
</section>