<section class="text-gray-500 body-font relative">
    <div class="container py-12 md:py-24 mx-auto relative z-10">
      <div class="flex flex-col text-center w-full mb-20">
        <h2 id="jobs" class="title-font md:text-5xl text-2xl font-bold text-gray-50">Open positions</h2>
      </div>

      {% for job in jobs %}
      <div class="py-6 flex flex-col md:flex-row md:items-center md:justify-between border-b border-gray-800 text-sm">
        <div class="flex flex-col md:flex-row md:items-center">
          <h3 class="font-bold text-base md:text-lg text-gray-100 w-full md:mr-8">{{job.title}}</h3>
          <div class="lg:whitespace-nowrap">{{job.location}}</div>
        </div>
        <a href="{{ site.url }}/static/{{ job.link }}" class="mt-4 md:mt-0 max-w-max inline-flex text-secondary border border-secondary py-2 px-6 focus:outline-none hover:bg-gray-800 rounded-lg text-sm">Apply Now</a>
      </div>
      {% endfor %}

    </div>
  </section>