<section class="text-white0 body-font relative">
    <div class="container py-12 md:py-24 mx-auto relative z-10">
      <div class="flex flex-col text-center w-full mb-20">
        <h2 id="jobs" class="title-font md:text-5xl text-2xl font-bold text-white">Open positions</h2>
      </div>

      {% for job in jobs %}
      <div class="py-6 flex flex-col md:flex-row md:items-center md:justify-between border-b border-gray-800 text-sm">
        <div class="flex flex-col md:flex-row md:items-center w-full">
          <h3 class="font-bold text-xl text-gray-100 mb-2 md:mb-0 md:mr-8 whitespace-nowrap w-8/12 lg:w-5/12">{{job.title}}</h3>
          <div class="lg:whitespace-nowrap w-full pr-8">{{job.location}}</div>
        </div>
        <a href="{{ site.url }}/static/{{ job.link }}" target="_blank" class="whitespace-nowrap mt-4 md:mt-0 max-w-max inline-flex text-secondary border border-secondary py-2 px-6 focus:outline-none hover:bg-secondary hover:text-gray-900 transition-colors rounded-lg text-sm">Apply Now</a>
      </div>
      {% endfor %}

    </div>
  </section>