<div class="container mx-auto px-4 py-16">
  <h2 class="text-xl lg:text-2xl mb-8 font-bold text-gray-50 text-center">Known from</h2>
  <div class="flex">
    <a href="#" class="w-48 transition-opacity items-center p-2" target="_blank" rel="noopener noreferrer">
      <img class="opacity-50 group-hover:opacity-100 transition-all" src="../images/news/phocuswire.png" alt="">
    </a>
    <a href="#" class="w-48 transition-opacity items-center p-2" target="_blank" rel="noopener noreferrer">
      <img class="opacity-50 group-hover:opacity-100 transition-all" src="../images/news/reisevor9.png" alt="">
    </a>
    <a href="#" class="w-48 transition-opacity items-center  p-2" target="_blank" rel="noopener noreferrer">
      <img class="opacity-50 group-hover:opacity-100 transition-all" src="../images/news/skift.png" alt="">
    </a>
    <a href="#" class="w-48 transition-opacity items-center p-2" target="_blank" rel="noopener noreferrer">
      <img class="opacity-50 group-hover:opacity-100 transition-all" src="../images/news/traveldaily.png" alt="">
    </a>
    <a href="#" class="w-48 transition-opacity items-center  p-2" target="_blank" rel="noopener noreferrer">
      <img class="opacity-50 group-hover:opacity-100 transition-all" src="../images/news/travelnews.png" alt="">
    </a>
  </div>
</div>