<span x-data="{ preSaleDisclaimerModal: false }">
    <span class="bg-gray-700 font-semibold inline-block text-gray-200 transition-colors hover:bg-gray-600 cursor-pointer py-2 px-4 text-center rounded-lg" @click="preSaleDisclaimerModal = true">Disclaimer</span>

    <div x-cloak x-transition x-show="preSaleDisclaimerModal" class="bg-gray-900/75 mx-auto fixed inset-0 w-full h-full flex items-center overflow-auto z-50">
        <div class="max-w-5xl mx-auto p-4 rounded overflow-y-auto z-50">
        <div class="bg-gray-800 text-gray-200 rounded-2xl p-8 text-sm text-left shadow-lg z-50" @click.away="preSaleDisclaimerModal = false">
            <h2 class="font-bold text-white mt-4">DISCLAIMER</h2>
            The content of this website (”Website”) is owned by Chain4Travel AG, Zug, 
            Switzerland (“Company”, “us”, “we”) and is protected by copyright law as a collective 
            work and a compilation. The accessing and use of the Website are governed by 
            these terms of use (“Terms of Use”). By accessing and/or using the Website, you 
            acknowledge that you have read, understood, and agreed to be bound by the Terms 
            of Use. Also, you accept that the Company may, at any time and without prior notice, 
            alter the Terms of Use. 
            If you do not agree to be bound by these Terms of Use, do not access and/or 
            use the Website.
            <h2 class="font-bold text-white mt-4">LOCAL RESTRICTIONS</h2>
            The Website and all information contained in it (including the product described on 
            the Website) are not directed at or intended for use by any person(s) who are subject 
            to legal provisions (based on their nationality, domicile, or any other reasons) 
            according to which accessing the Website and/or distributing the information on the 
            Website is prohibited with or without having obtained a license or authorization.
            The Website is in particular not directed at US persons and such persons are not 
            permitted to access the Website (US persons are defined as: United States citizens, 
            persons domiciled in the United States, companies, organizations, legal entities 
            organized or existing under U.S. law as well as assets and foundations subject to 
            U.S. law).
            <h2 class="font-bold text-white mt-4">NO OFFER, ADVICE, SOLICITATION, AND/OR RECOMMENDATION</h2>
            All the information and materials provided on the Website or otherwise made 
            available are for informational purposes only and for your non-commercial 
            personal use. The information or materials are in no way intended to provide 
            financial, tax, accounting, investment, business, legal or any other type of 
            advice and should not be construed as such. In addition, the information and 
            materials should in no way be construed as an offer, solicitation, or a 
            recommendation to buy or sell securities, investment instruments or to 
            engage in any transaction whatsoever. Investors are advised to discuss any 
            trading with a qualified finance professional prior to investing. 
            Notwithstanding the above, the Website may contain information that may be 
            considered by the supervisory authorities of certain countries as a public offer of a 
            financial product or a canvassing targeting persons domiciled in the respective 
            countries. By accessing the Website, you confirm that you did so on your own 
            initiative and without any solicitation from the Company. This is in particular true if 
            you reside in one of the following countries/areas: United States, United Kingdom, 
            Canada, China, and the European Economic Area. 
            <h2 class="font-bold text-white mt-4">NO LIABILITY</h2>
            The Company has taken all reasonable steps to create and publish the information 
            contained on the Website in a correct and complete manner and will strive to provide 
            any updates, if necessary, on a regular basis. However, the information on the 
            Website is not intended to provide an exhaustive overview of all issues and events, 
            and the Company cannot guarantee the accuracy, relevance, update status, legality, 
            availability, or completeness of the information at all times. The materials on the 
            Website may still contain technical or other inaccuracies, omissions, or typographical 
            errors for which the Company cannot be held responsible. The Company does not 
            guarantee or make any representations about the use, validity, accuracy, 
            completeness or reliability of any statements or information on the Website.
            The Company and its officers, directors, subsidiaries, affiliates, contractors, agents, 
            employees, licensors, and/or third-party content providers are 
            in no way 
            responsible or liable for any damages whatsoever
            , whether they be direct, 
            indirect, consequential, incidental, punitive, exemplary or general damages, 
            contribution or indemnity, of any kind whatsoever, however caused, including loss of 
            profits, caused by or arising from, or reliance on the information contained herein the 
            links to other sites as contained in this website or any information on such sites, or 
            any delays, inaccuracies, errors or omissions in the information contained on the 
            Website.
            <h2 class="font-bold text-white mt-4">NO SUPERVISION/AUTHORIZATION</h2>
            The Company is not authorized by the supervisory authority of Switzerland nor of 
            any other country. No supervisory authorities of any country or jurisdiction have 
            verified in any way or approved this information, and the Company makes no 
            representations or warranties in this regard. 
            <h2 class="font-bold text-white mt-4">APPLICABLE LAW AND PLACE OF JURISDICTION</h2>
            The Terms of Use and the use of the Website shall exclusively be governed by and 
            construed in accordance with the substantive laws of Switzerland, as amended from 
            time to time. In the event of any dispute arising out of or in connection with the 
            Terms of Use and/or the use of the Website, the sole place of jurisdiction shall be 
            Zug, Switzerland.
            <br><br>
            <span class="bg-gray-700 font-semibold inline-block text-gray-200 transition-colors hover:bg-gray-600 cursor-pointer py-2 px-4 text-center rounded-lg" @click="preSaleDisclaimerModal = false">Close</span>

        </div>
        </div>
    </div>
</span> 