<section class="text-gray-500 relative overflow-hidden border-t border-b border-gray-800">
  <div class="container py-12 md:py-24 mx-auto relative z-10">
    <div class="flex flex-col text-center w-full mb-20">
      <div class="text-secondary uppercase text-sm font-bold tracking-widest mb-4 lg:mb-8">What's next</div>
      <h1 class="title-font sm:text-6xl text-4xl font-bold text-gray-50" id="roadmap">Roadmap</h1>
    </div>
    <div class="flex flex-wrap justify-center items-stretch -m-4 text-center">
      <div class="p-4 lg:w-1/6 md:w-1/3 sm:w-1/2 w-full">
        <div class="bg-gray-900/60 shadow-xl border-2 border-secondary px-4 py-8 rounded-2xl h-full flex flex-col text-gray-50">
          <h2 class="text-sm mb-2 font-bold ">Foundation of the Chain4Travel AG</h2>
          <p class="mt-auto text-sm leading-relaxed text-secondary">Done • Q4 2021</p>
        </div>
      </div>
      <div class="p-4 lg:w-1/6 md:w-1/3 sm:w-1/2 w-full">
        <div class="bg-gray-900/60 shadow-xl border-2 border-secondary px-4 py-8 rounded-2xl h-full flex flex-col text-gray-50">
          <h2 class="text-sm mb-2 font-bold ">Seed Investment 4.3 M CHF</h2>
          <p class="mt-auto text-sm leading-relaxed text-secondary">Done • Q2 2022</p>
        </div>
      </div>
      <div class="p-4 lg:w-1/6 md:w-1/3 sm:w-1/2 w-full">
        <div class="bg-gray-900/60 shadow-xl border-2 border-secondary px-4 py-8 rounded-2xl h-full flex flex-col text-gray-50">
          <h2 class="text-sm mb-2 font-bold">Launch of Testnet Columbus</h2>
          <p class="mt-auto text-sm leading-relaxed text-secondary">Done • Q2 2022</p>
        </div>
      </div>
      <div class="p-4 lg:w-1/6 md:w-1/3 sm:w-1/2 w-full">
        <div class="bg-gradient-to-tl from-[#35e9ad] to-[#1d9eed] px-4 py-8 rounded-2xl h-full flex flex-col">
          <h2 class="text-sm mb-2 font-bold text-gray-50">Pre-sale of Camino Token (CAM)</h2>
          <p class="mt-auto text-sm leading-relaxed text-gray-50">Active • Q2 2022</p>
        </div>
      </div>
      <div class="p-4 lg:w-1/6 md:w-1/3 sm:w-1/2 w-full">
        <div class="bg-gray-900/60 shadow-xl border border-gray-800 px-4 py-8 rounded-2xl h-full flex flex-col">
          <h2 class="text-sm mb-2 font-bold text-gray-50">Initial Coin Offering (ICO)</h2>
          <p class="mt-auto text-sm leading-relaxed">Q3/Q4 2022<p>
        </div>
      </div>
      <div class="p-4 lg:w-1/6 md:w-1/3 sm:w-1/2 w-full">
        <div class="bg-gray-900/60 shadow-xl border border-gray-800 px-4 py-8 rounded-2xl h-full flex flex-col">
          <h2 class="text-sm mb-2 font-bold text-gray-50">Launch of the 1st dApps and Camino 1.0</h2>
          <p class="mt-auto text-sm leading-relaxed">Q4 2022</p>
        </div>
      </div>
    </div>
  </div>
  <div class="z-0 bg-gradient-to-tl from-primary via-gray-900 to-secondary blur-2xl opacity-30 rounded-full w-[36rem] h-[36rem] absolute top-0 left-1/2 -translate-x-1/2"></div>
</section>
