<div class="container py-16 md:py-32 flex flex-col items-center overflow-hidden">
    <h2 class="sm:text-6xl text-4xl font-bold text-gray-50 text-center my-8">Meet our supporters</h2>
    <div class="flex flex-wrap justify-center my-8 md:my-12 -mx-4">
        {% for member in testimonials %}
            <a href="/supporter#testimonials" class="lg:w-1/5 md:w-1/4 w-1/2 my-4 text-center px-6">
                <img
                class="block mx-auto transform transition-all hover:scale-125 rounded-full w-16 h-16 sm:w-20 sm:h-20"
                src="../images/{{member.slug}}.png"
                alt="{{member.name}} - Image" />
                <div class="text-sm whitespace-normal mt-2">{{member.person}}</div>
                <div class="text-xs whitespace-normal mt-1 line-clamp-2 text-gray-500">{{member.company}}</div>
            </a>
        {% endfor %}
    </div>
    <a href="/supporter" class="cursor-pointer font-semibold mt-4 md:mt-8 inline-flex text-dark bg-secondary py-2 px-6 focus:outline-none hover:bg-gray-50 rounded-lg">Learn more about our supporters</a>
</div>