<div class="text-gray-500 relative overflow-hidden py-12 md:py-24 border-t border-gray-700 text-center" x-data="{ UnchainedPaperModal: false }">
  <div class="container">
    <div class="text-center w-full mb-24">
        <div class="text-secondary uppercase text-sm font-bold tracking-widest mb-4 lg:mb-8" id="travel-unchained">Chain4Travel presents</div>
        <img src="../images/unchained-logo.svg" class="max-h-28 md:max-h-32 mx-auto mb-8" alt="">
        <h2 class="title-font sm:text-5xl text-3xl font-bold text-gray-50 mb-4 lg:mb-8 max-w-6xl mx-auto">Join our exclusive travel tech event and explore the potential of blockchain technology.</h2>
    </div>
  </div>
  <div class="container md:grid grid-cols-12 gap-8 text-gray-300 relative z-10">
    <div class="mb-16 md:mb-0 col-span-4 lg:col-span-3 flex flex-col bg-gray-800/25 border-2 border-gray-200/10 backdrop-blur-xl rounded-2xl pt-0 py-8 px-2 md:px-4 items-center text-center">
        <img src="../images/icon-date.png" class="w-32 h-32 -mt-16" alt="">
        <h3 class="text-gray-50 text-2xl font-bold mb-2">Date</h3>
        <p class="font-bold">September 13-14, 2022</p>
        <p>From noon to noon</p>
    </div>
    <div class="mb-16 md:mb-0 col-span-4 lg:col-span-6 flex flex-col bg-gray-800/25 border-2 border-gray-200/10 backdrop-blur-xl rounded-2xl pt-0 py-8 px-2 md:px-4 items-center text-center">
        <img src="../images/icon-topics.png" class="w-32 h-32 -mt-16" alt="">
        <h3 class="text-gray-50 text-2xl font-bold mb-2">Topics</h3>
        <p>The exclusive event will feature interesting keynotes, discussions about the Camino project and specific use cases for the travel industry as well as networking among industry partners.</p>
    </div>
    <div class="mb-16 md:mb-0 col-span-4 lg:col-span-3 flex flex-col bg-gray-800/25 border-2 border-gray-200/10 backdrop-blur-xl rounded-2xl pt-0 py-8 px-2 md:px-4 items-center text-center">
        <img src="../images/icon-location.png" class="w-32 h-32 -mt-16" alt="">
        <h3 class="text-gray-50 text-2xl font-bold mb-2">Location</h3>
        <p class="font-bold">Palma de Mallorca</p>
        <p>The exact address is yet to be announced</p>
    </div>
  </div>
          <span @click="UnchainedPaperModal = true" class="transition-colors md:mt-16 cursor-pointer font-semibold mr-4 inline-flex text-dark bg-secondary py-2 px-6 focus:outline-none hover:bg-gray-50 rounded-lg md:text-lg flex-none">Join the waiting list</span>

    {% include "unchained-modal.html" %}
</div>



