<div class="text-white font-bold text-3xl mb-2 flex items-center">
    <svg class="w-8 h-8 flex-shrink-0 mr-4 text-primary" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 19v0a2 2 0 0 1-2-2v-4m2 6v1.5a.5.5 0 0 0 .5.5v0a.5.5 0 0 0 .5-.5V19m-1 0h1m11 0v0a2 2 0 0 0 2-2v-4m-2 6v1.5a.5.5 0 0 1-.5.5v0a.5.5 0 0 1-.5-.5V19m1 0h-1M4 13V7m0 6h8m8 0V7m0 6h-8m-5 6h10M4 7V5a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v2M4 7h8m8 0h-8m0 0v6"></path><path fill="currentColor" fill-rule="evenodd" d="M4 13h16v6H4v-6zm3 3a1 1 0 0 1 1-1h.001a1 1 0 1 1 0 2H8a1 1 0 0 1-1-1zm9-1a1 1 0 1 0 0 2h.001a1 1 0 1 0 0-2H16z" clip-rule="evenodd"></path><path fill="currentColor" d="M4 5a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v2H4V5z"></path></svg>
    Shuttle Service
</div>

<div class="text-white font-bold text-2xl mb-4 mt-8">Day 1 & Day 2 (morning)</div>
On Tuesday, we will visit different places and take care of transfers to and from the locations. Please call the number above in case you have questions. 

<table class="text-left align-top mt-8 mb-8 border border-gray-700">
    <tr>
        <td class="timetable-cell">Sep 13<br> 11:15</td>
        <td>
            <strong>Pickup Point Auditorium</strong> <br>
            Muelle Golondrina, s/n, Av. de Gabriel Roca, 07014 Palma, Balearic Islands, Spanien - 
            <a class="bg-secondary hover:bg-white text-gray-900 py-1 p-2 text-sm rounded-lg whitespace-nowrap" href="https://www.google.com/maps/dir//39.5671114,2.6301313/@39.5672264,2.6288768,18.32z">Pickup Location</a>
        </td>
    </tr>
    <tr>
        <td class="timetable-cell">Sep 13<br> 17:20</td>
        <td>
            <strong>Restaurant Es Molí d'es Comte</strong> <br>
            Carrer del Molí del Comte, Palma, Spanien
        </td>
    </tr>
    <tr>
        <td class="timetable-cell">Sep 13<br> 19:00</td>
        <td>
            <strong>Pickup Point Auditorium</strong> <br>
            Muelle Golondrina, s/n, Av. de Gabriel Roca, 07014 Palma, Balearic Islands, Spanien - 
            <a class="bg-secondary hover:bg-white text-gray-900 py-1 p-2 text-sm rounded-lg whitespace-nowrap" href="https://www.google.com/maps/dir//39.5671114,2.6301313/@39.5672264,2.6288768,18.32z">Pickup Location</a>
        </td>
    </tr>
    <tr>
        <td class="timetable-cell">Sep 13 - 14<br> 23:00 - 02:00</td>
        <td>
            <strong>Mhares Sea Club</strong> <br>
            Carrer de l'Oronella, Spanien
        </td>
    </tr>
</table>

<div class="text-white font-bold text-2xl mb-4 mt-8">
    Transfer Hotline: <br>
    <a class="hover:text-primary text-base" href="tel:+34 638 080 392">Nicole Fuenfstueck: +34 638 080 392</a> <br>
    <a class="hover:text-primary text-base" href="tel:+34 661 250 504">Ricardo Zotti: +34 661 250 504</a> <br>
    <a class="hover:text-primary text-base" href="tel:+34 661 250 504">Vincent Usbeck: +49 173 362 2450</a>
</div>

<iframe src="https://www.google.com/maps/d/embed?mid=1ohTemyCg9ugb0F8eu5UOXND9BtP6Xvc&ehbc=2E312F" width="100%" height="480"></iframe>