<section class="text-white use-cases-bg">
    <div class="container py-16 md:py-32">
      <h2 class="sm:text-6xl text-4xl font-bold text-white text-center my-8">
        Camino is the worlds first travel ecosystem with unlimited potential
      </h2>
      <div class="flex flex-wrap -mx-4 justify-center">
        {% for useCase in useCases %}
            <div class="relative m-2 md:m-3 hover:scale-150 transition-transform hover:z-20">
                <div class="bg-gray-900 border border-white/25 py-2 px-4 md:py-3 md:px-5 rounded-full relative z-10">{{ useCase.title }}</div>
                <div class="absolute z-0 inset-1 bg-gradient-to-tl rounded-full from-primary via-gray-900 to-secondary blur"></div>
            </div>
        {% endfor %}
      </div>
    </div>
  </section>