<div class="container relative mb-16">

<div class="md:flex">
    <div class="md:w-1/2 bg-gray-800 z-10 relative rounded-2xl p-6 md:mr-4 mb-8 md:mb-0">
        <img src="/images/decentralization-article.png" class="w-full h-32 md:h-64 object-cover rounded-2xl" alt="">
        <div class="mt-6">
            <h2 class="text-2xl 2xl:text-3xl font-bold mb-2">Back to Basics: Decentralization in Travel</h2>
            <a
                    class="mt-6 transition-colors whitespace-nowrap inline-block font-semibold border border-secondary mr-2 text-gray-900 bg-secondary hover:bg-white hover:border-white hover:text-gray-900 py-2 px-6 rounded-lg text-lg"
                    href="/decentralization-in-travel-back-to-the-basics">
                    Read our article
                </a>
        </div>
    </div>

    <div class="md:w-1/2 bg-gray-800 z-10 relative rounded-2xl p-6 md:ml-4">
        <img src="/images/web3-article.png" class="w-full h-32 md:h-64 object-cover rounded-2xl" alt="">
        <div class="mt-6">
            <h2 class="text-2xl 2xl:text-3xl font-bold mb-2">The Emergence of Web 3.0 in Travel</h2>
            <a
            class="mt-6 transition-colors whitespace-nowrap inline-block font-semibold border border-secondary mr-2 text-gray-900 bg-secondary hover:bg-white hover:border-white hover:text-gray-900 py-2 px-6 rounded-lg text-lg"
            href="/the-emergence-of-web-3-in-travel-what-it-means-for-the-industry">
            Read our article
        </a>
        </div>
    </div>
</div>

<div class="flex justify-center">
    <a href="#newsletter" class="mx-auto transition-colors whitespace-nowrap mt-8 font-semibold inline-flex text-white border border-gray-400 hover:bg-white hover:text-gray-900 py-2 px-6 rounded-lg text-lg">Subscribe to our newsletter</a>
</div>

</div>