---
layout: default

title: Connecting the new world of travel
description: Chain4Travel is the facilitator of the Camino consortium blockchain, a new disruptive approach to trade touristic products B2B and B2C.
placement: homepage
---

<!-- Hero starts -->
<div class="py-20 bg-gray-900 text-white">
    <div class="max-w-screen-xl px-8 md:px-4 mx-auto text-center">
        <h1 class="text-4xl md:text-5xl lg:text-7xl font-black">
            The world of travel reinvented
        </h1>
        <p class="mt-8 md:text-lg lg:text-xl max-w-screen-md mx-auto text-gray-400">
            Find more about us and how we innovate the travel industry with web3 technology
        </p>
    </div>
</div>
<!-- Hero ends -->

<!-- Post-Hero Block starts -->
<div class="py-16 bg-gradient-to-b bg-gray-900 text-white">
    <div class="max-w-screen-xl px-8 md:px-4 mx-auto">
        <div class="grid grid-cols-12 gap-8">
            <div class="col-span-12 md:col-span-4 bg-gradient-to-b from-secondary p-1 rounded-t-3xl">
                <div class="p-4 md:p-8 text-center bg-gray-900 rounded-t-3xl">
                    <h2 class="font-black text-xl md:text-3xl mb-4">
                        Education
                    </h2>
                    <p class="text-gray-400">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto rem rerum non saepe sunt, doloremque explicabo.
                    </p>
                </div>
            </div>
            <div class="col-span-12 md:col-span-4 bg-gradient-to-b from-gray-300 p-1 rounded-t-3xl">
                <div class="p-4 md:p-8 text-center bg-gray-900 rounded-t-3xl">
                    <h2 class="font-black text-xl md:text-3xl mb-4">
                        Consulting
                    </h2>
                    <p class="text-gray-400">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto rem rerum non saepe sunt, doloremque explicabo.
                    </p>
                </div>
            </div>
            <div class="col-span-12 md:col-span-4 bg-gradient-to-b from-primary p-1 rounded-t-3xl">
                <div class="p-4 md:p-8 text-center bg-gray-900 rounded-t-3xl">
                    <h2 class="font-black text-xl md:text-3xl mb-4">
                        Building
                    </h2>
                    <p class="text-gray-400">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto rem rerum non saepe sunt, doloremque explicabo.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Post-Hero Block ends -->

<div class="py-16 md:py-32">
    <div class="max-w-screen-xl px-8 md:px-4 mx-auto grid grid-cols-12 gap-6 items-center">
        <div class="col-span-12 md:col-span-5 rounded-lg overflow-hidden h-64 md:h-[420px]">
            <img class="w-full h-full object-cover" src="https://media.istockphoto.com/id/1065191436/de/foto/touristen-entdecken-die-eish%C3%B6hle.jpg?s=1024x1024&w=is&k=20&c=B5vaKxP7VVmp2LJOC4Evh-blpazzQOnMMmHwqmdqA2w=" alt="Chain4Travel Logo">
        </div>
        <div class="md:col-start-7 col-span-12 md:col-span-6">
            <div class="text-2xl xl:text-5xl font-black">
                Facilitating the web3 travel ecosystem
            </div>
            <p class="my-2 md:my-6">
                Back in 2021, we initiated Camino, the web3 travel ecosystem. We built the features and entire infrastructure. However, we don't own the network, and all IP rights are given to the Camino Network Foundation. In the future, we will continue to serve as specialists in web3 technology and experts in the travel industry, bringing valuable insights and development efforts to Camino's advancement.
            </p>
            <a href="#" class="btn-primary">Download litepaper</a>
        </div>
    </div>
</div>

<div class="py-16 md:py-32">
    <div class="max-w-screen-xl px-8 md:px-4 mx-auto grid grid-cols-12 gap-6 items-center">
        <div class="col-span-12 md:col-span-6">
            <div class="text-2xl xl:text-5xl font-black">
                A global shared travel infrastructure
            </div>
            <p class="my-2 md:my-6">
                The travel industry is one of the largest in the world. It is time for it to have a unique global shared infrastructure - customized exactly as the travel industry needs and wants it. An infrastructure that is jointly governed by travel companies with equal voting power. A blockchain as unique as the industry itself and a "safe space" in the web3 environment. This is exactly what Camino is. 
            </p>
            <a href="#" class="btn-black">Read full blog article</a>
        </div>
        <div class="md:col-start-8 col-span-12 md:col-span-5 order-first md:order-last rounded-lg overflow-hidden h-64 md:h-[420px]">
            <img class="w-full h-full object-cover" src="https://images.pexels.com/photos/2924738/pexels-photo-2924738.jpeg" alt="Chain4Travel Logo">
        </div>
    </div>
</div>

<!-- Camino Network Block starts -->
<div class="py-16 md:py-32 bg-gray-900 text-white bg-cover" style="background-image: url(/img/camino-blocks-background.png);">
    <div class="max-w-screen-xl px-8 md:px-4 mx-auto grid grid-cols-12 gap-6 items-center">
        <div class="col-span-12 md:col-span-5 rounded-lg overflow-hidden h-64 md:h-[420px]">
            <img class="w-full h-full object-contain" src="/img/camino-network.png" alt="Chain4Travel Logo">
        </div>
        <div class="md:col-start-7 col-span-12 md:col-span-6">
            <div class="text-2xl xl:text-5xl font-black">
                Camino Network, the web3 travel ecosystem 
            </div>
            <p class="my-2 md:my-6">
                Camino is a powerful, highly scalable network for the travel industry of tomorrow. It is based on the robust and versatile Avalanche technology to ensure the highest security and low, predictable transaction costs. Companies in the travel industry can easily create applications in the Camino Network as all common development tools are supported out of the box. 
            </p>
            <p class="my-2 md:my-6">
                Through Camino Network, all companies in the travel industry - no matter how large or small - are given the opportunity to future-proof their processes and benefit directly from the technological advances in the travel industry. The ease of use, the reliability, and the team of experienced industry professionals offer endless possibilities to integrate blockchain technology into your company structure already today.
            </p>
            <a href="http://camino.network" target="_blank" rel="noopener noreferrer" class="btn-white">Visit camino.network</a>
        </div>
    </div>
</div>
<!-- Camino Network Block ends -->

<style>
 /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
 .flip-card {
  background-color: transparent;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.4s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner,
.flip-card:target .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the back side */
.flip-card-back {
  transform: rotateY(180deg);
} 
</style>


<!-- Use Cases starts -->
<div class="py-16 md:py-32">
    <div class="max-w-screen-xl px-8 md:px-4 mx-auto text-center">
        <div class="text-2xl xl:text-5xl font-black">
            Web3 travel use cases become mainstream. It’s time to explore the value in web3 for your business.
        </div>
        <div class="flex my-12 flex-wrap mx-2 xl:-mx-3">
            {% for x in usecasesdummy %}
            <div class="flip-card flex-shrink-0 w-1/2 md:w-1/3 lg:w-1/5 max-w-xs aspect-square md:h-80 p-2 xl:p-3">
                <div class="flip-card-inner">
                    <div class="flip-card-front p-4 md:p-6 border border-gray-200 bg-white rounded-lg text-left h-full relative flex flex-col items-center justify-center">
                        <img class="w-12 h-12" src="/img/use-cases/{{x.icon}}.svg" alt="">
                        <div class="flex items-center justify-center">
                            <h2 class="font-black text-lg md:text-xl text-center my-2">{{x.title}}</h2>
                        </div>
                    </div>
                    <div class="flip-card-back p-4 border border-gray-200 bg-gradient-to-br from-primary/90 to-primary/60 text-white bg-gray-900 rounded-lg text-left h-full relative flex flex-col items-center">
                        <p class="text-sm">{{x.text}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <a href="#" class="btn-primary">Explore web3 use case for your business</a>
    </div>
</div>
<!-- Use Cases ends -->

{% include "testimonial-four.html" %}

{% include "newsarticles-nav.html" %}