---
layout: default

title: Connecting the new world of travel
description: Chain4Travel is the facilitator of the Camino consortium blockchain, a new disruptive approach to trade touristic products B2B and B2C.
---

{% include "atlas-nav.html" %}

<!-- Hero starts -->
<div class="py-20 bg-gray-900 text-white">
    <div class="container px-4 text-center">
        <h1 class="text-4xl md:text-5xl lg:text-7xl tracking-tight font-black">
            Web3 Travelogue
        </h1>
        <p class="mt-8 md:text-lg lg:text-xl max-w-screen-md mx-auto text-gray-400">
            The dezentralized travel blog
        </p>
    </div>
</div>
<!-- Hero ends -->

<div class="py-16 md:py-32 container px-4">
    <div class="grid grid-cols-12 gap-6 items-stretch">
        {% for x in blogposts %}

            {% if loop.index0 < 1 %}
            <div class="col-span-12 pb-8 md:pb-16 mb-8 md:mb-16 border-b-2 border-gray-300">
                <div class="grid grid-cols-12 gap-6 items-center">
                    <div class="col-span-12 md:col-span-6">
                        <div class="text-2xl xl:text-6xl font-black">
                            {{x.title}}
                        </div>
                        <div class="font-black text-xl my-6 uppercase text-primary">
                            {{x.date}}
                        </div>
                        <p class="text-gray-700">
                            {{x.excerpt}}
                        </p>
                        <a href="{{x.link}}" class="btn-black mt-6">Read full article</a>
                    </div>
                    <div class="md:col-start-8 col-span-12 md:col-span-5 order-first md:order-last rounded-lg overflow-hidden h-64 md:h-[420px]">
                        <img class="w-full h-full object-cover" src="{{x.coverImage}}" alt="Chain4Travel Logo">
                    </div>
                </div>
            </div>
            {% endif %}

            {% if loop.index0 > 0 %}
            <a href="{{x.link}}" class="col-span-12 md:col-span-4">
                <div class="border-2 border-gray-300 hover:border-primary h-full rounded-lg overflow-hidden">
                    <img class="w-full h-64 object-cover" src="{{x.coverImage}}" alt="Chain4Travel Logo">
                    <div class="p-6">
                        <div class="text-2xl font-black">
                            {{x.title}}
                        </div>
                        <div class="font-black my-2 uppercase text-primary">
                            {{x.date}}
                        </div>
                        <p class="text-gray-700 text-sm">
                            {{x.excerpt}}
                        </p>
                    </div>
                </div>
            </a>
            {% endif %}

        {% endfor %}
    </div>
</div>