---
layout: default

title: Contact
description: Chain4Travel is the facilitator of the Camino consortium blockchain, a new disruptive approach to trade touristic products B2B and B2C.
---

{% include "contact.html" %}

<div class="py-16 md:py-32 bg-gray-100">
    <div class="max-w-screen-xl px-8 mx-auto text-center">
        <div class="text-2xl xl:text-5xl font-black">
            Connect with us on social media
        </div>
        <div class="grid grid-cols-12 gap-6 mt-12">
            <a href="https://www.linkedin.com/company/chain4travel/" target="_blank" rel="noopener noreferrer" class="col-span-6 md:col-span-3 bg-white rounded-lg text-left transition-colors border hover:border-primary">
                <div class="p-4 md:p-6">
                    <svg class="w-16 text-primary" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M8 11v5m8 0v-3c0-.67-.4-2-2-2s-2 1.33-2 2m0 3v-3m0 0v-2M8 8h.01M5 21h14a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v14c0 1.1.9 2 2 2Z"/></svg>
                    <h2 class="font-black text-xl md:text-2xl mt-3">Linkedin</h2>
                </div>
            </a>
            <a href="https://twitter.com/Chain4Travel" target="_blank" rel="noopener noreferrer" class="col-span-6 md:col-span-3 bg-white rounded-lg text-left transition-colors border hover:border-primary">
                <div class="p-4 md:p-6">
                    <svg class="w-16 text-primary" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="m4 20 6.857-6.857m0 0L16 20h4l-6.857-9.143m-2.286 2.286L4 4h4l5.143 6.857m0 0L20 4"/></svg>                      
                    <h2 class="font-black text-xl md:text-2xl mt-3">X (Twitter)</h2>
                </div>
            </a>
            <a href="https://www.youtube.com/@chain4travel" target="_blank" rel="noopener noreferrer" class="col-span-6 md:col-span-3 bg-white rounded-lg text-left transition-colors border hover:border-primary">
                <div class="p-4 md:p-6">
                    <svg class="w-16 text-primary" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M3 15V9a4 4 0 0 1 4-4h10a4 4 0 0 1 4 4v6a4 4 0 0 1-4 4H7a4 4 0 0 1-4-4Z"/>
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M10 15V9l5 3-5 3Z"/>
                    </svg>                      
                    <h2 class="font-black text-xl md:text-2xl mt-3">YouTube</h2>
                </div>
            </a>
            <a href="https://medium.com/@chain4travel" target="_blank" rel="noopener noreferrer" class="col-span-6 md:col-span-3 bg-white rounded-lg text-left transition-colors border hover:border-primary">
                <div class="p-4 md:p-6">
                    <svg class="w-16 text-primary" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M21 9v6m-8-3a5 5 0 1 1-10 0 5 5 0 0 1 10 0Zm5.5 0c0 2.21-.672 4-1.5 4s-1.5-1.79-1.5-4 .672-4 1.5-4 1.5 1.79 1.5 4Z"/>
                    </svg>                      
                    <h2 class="font-black text-xl md:text-2xl mt-3">Medium</h2>
                </div>
            </a>
        </div>
    </div>
</div>

<!-- Testimonial section starts -->
<div class="py-16 md:py-32 bg-gray-900 text-white relative">
    <div class="max-w-screen-xl px-8 mx-auto relative z-10">
        <blockquote class="text-xl md:text-3xl text-center max-w-screen-lg mx-auto font-bold md:leading-10">
            “Camino has the potential to revolutionize the travel industry in the same way as Netflix revolutionized video rentals. We are clearly not yet capitalizing on today's technological possibilities and customer expectations concerning the current state of travel technology and it’s associated processes.”
        </blockquote>
        <div class="flex items-center justify-center mt-10">
            <img class="w-14 md:w-20 h-14 md:h-20 mr-4 md:mr-6 rounded-lg" src="/img/pablocastillo.png" alt="">
            <div>
                <div class="font-black md:text-2xl">Pablo Castillo</div>
                <div class="text-secondary text-xs md:text-base uppercase tracking-wider font-black">CTO of Chain4Travel</div>
            </div>
        </div>
    </div>
    {% image "src/img/testimonial-bg.jpg", "Shema showing connections of web2", "", "absolute w-full h-full z-0 inset-0 object-cover opacity-30" %}
</div>
<!-- Testimonial section ends -->

<div class="py-16 md:py-32">
    <div class="max-w-screen-xl px-8 mx-auto grid grid-cols-12 gap-6 items-center">
        <div class="col-span-12 md:col-span-6">
            <div class="text-2xl xl:text-5xl font-black">
                Get the monthly Chain4Travel newsletter in your inbox
            </div>
            <p class="my-2 md:my-6">
                Stay ahead of the game in travel with our monthly newsletter covering the hottest topics in blockchain, crypto, and web3, all relevant for travel. Join the forefront of digital innovation in the travel industry.
            </p>
            {% include "newsletter-form.html" %}
        </div>
        <div class="md:col-start-8 col-span-12 md:col-span-5 order-first md:order-last rounded-lg overflow-hidden h-64 md:h-[460px]">
            {% image "src/img/giant_mail_in_big_wave_at_beach_sunshine_super_realistic.jpg", "Giant mail in big wave at beach sunshine super realistic", "", "w-full h-full object-cover" %}
        </div>
    </div>
</div>