---
layout: default

title: Meet-ups and events
description: Chain4Travel is the facilitator of the Camino consortium blockchain, a new disruptive approach to trade touristic products B2B and B2C.
---

{% include "atlas-nav.html" %}

<!-- Hero starts -->
<div class="py-16 text-white bg-gray-900 md:py-20">
    <div class="max-w-screen-xl px-8 mx-auto text-center">
        <h1 class="text-4xl font-black md:text-5xl lg:text-7xl">
            Meet-ups and <span class="text-primary">events</span>
        </h1>
        <p class="max-w-screen-md mx-auto mt-8 text-gray-400 md:text-lg lg:text-xl">
            Meet us in person and let’s discuss the future of travel
        </p>
    </div>
</div>
<!-- Hero ends -->

<!-- Hero starts -->
<div class="relative max-w-screen-xl px-8 mx-auto my-12 overflow-hidden">
    <div class="relative flex items-center justify-center p-16 overflow-hidden text-white bg-gray-900 rounded-xl">
        <div class="relative z-10 text-center">
            <img class="w-40 mx-auto mb-4" src="/img/unchained-logo-2023.svg" alt="">
            <h1 class="my-4 text-4xl font-black md:text-6xl">
                <span class="text-primary">Save the date:</span> <br> Travel Un'chained 2024
            </h1>
            <div class="flex items-center justify-center mb-4 font-semibold rounded-lg">
                <div class="flex items-center px-2 py-3 text-xs md:px-4 md:text-base">
                    <svg class="w-4 mr-2 md:w-6" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                        <path d="M9 3a1 1 0 0 0-2 0v1H6a3 3 0 0 0-3 3v1h18V7a3 3 0 0 0-3-3h-1V3a1 1 0 1 0-2 0v1H9V3Z"/>
                        <path fill-rule="evenodd" d="M3 19v-9h18v9a3 3 0 0 1-3 3H6a3 3 0 0 1-3-3Zm11-5a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1v-2a1 1 0 0 0-1-1h-2Z"/>
                    </svg>
                    Sep 30 - Oct 2, 2024
                </div>
                <div class="flex items-center px-2 py-3 text-xs md:px-4 md:text-base">
                    <svg class="w-4 mr-2 md:w-6" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                        <path d="M12 8a2 2 0 1 0 0 4 2 2 0 0 0 0-4Z"/>
                        <path fill-rule="evenodd" d="m13.02 21.38-.23.24-.06.06-.02.02a1 1 0 0 1-1.42 0l-.02-.02-.06-.06a16.7 16.7 0 0 1-.22-.23h-.01A47.7 47.7 0 0 1 7.7 17.6c-.9-1.14-1.8-2.44-2.5-3.73A8.62 8.62 0 0 1 4 10c0-4.54 3.6-8 8-8s8 3.46 8 8c0 1.25-.54 2.61-1.21 3.87-.7 1.29-1.6 2.59-2.5 3.73a49.58 49.58 0 0 1-3.27 3.78ZM8 10a4 4 0 1 1 8 0 4 4 0 0 1-8 0Z"/>
                    </svg>
                    Palma de Mallorca
                </div>
            </div>
            <div class="flex items-center justify-center gap-4">
                <a class="btn-white" href="/unchained2023">Recap 2023</a>
                <a class="btn-white-outline" href="/unchained2022">Recap 2022</a>
            </div>
        </div>
        <video class="absolute bottom-0 left-0 right-0 object-cover w-full h-full -translate-y-1/2 top-1/2 opacity-30" loop autoplay muted src="/video/unchained-aftermovie-header.mp4" poster="/img/video-unchained-poster.png"></video>
    </div>
</div>
<!-- Hero ends -->

<div class="py-16 bg-gray-100">

    <div class="max-w-screen-xl px-8 mx-auto">
        <div class="mb-3 text-2xl font-black text-center xl:text-5xl md:mb-6">Fuel travel innovation</div>
        <div class="mb-6 text-lg font-semibold text-center text-gray-600 xl:text-xl md:mb-12">Join the upcoming travel industry hackathons to fuel innovation with web3 technologies.</div>
        <div class="grid grid-cols-2 gap-6">
            <div class="col-span-2 md:col-span-1">
                <a href="https://v-i-r.de/events/devweekend/" target="_blank" rel="noopener noreferrer">
                    {% image "src/img/event-teaser-devweekend.png", "Event teaser image for Dev Weekend", "", "object-cover rounded-xl hover:brightness-125 transition-all hover:shadow-2xl" %}
                </a>
            </div>
            
            <div class="col-span-2 md:col-span-1">
                <a href="https://decode.travel" target="_blank" rel="noopener noreferrer">
                    {% image "src/img/event-teaser-decodetravel.png", "Event teaser image for Decode Travel", "", "object-cover rounded-xl hover:brightness-125 transition-all hover:shadow-2xl" %}
                </a>
            </div>
        </div>
    </div>
</div>

<div class="py-16 bg-gray-100">
    <div class="max-w-screen-xl px-8 mx-auto">
        <div class="mb-6 text-2xl font-black text-center xl:text-5xl md:mb-12">Upcoming events</div>
        <div class="grid grid-cols-12 gap-6 ">
            {% for x in events.data | sort(attribute='attributes.startdate') %}
                {% set event = x.attributes %}
                <div class="flex flex-col h-full col-span-12 overflow-hidden transition-colors bg-white border border-gray-300 rounded-lg md:col-span-6 group group-hover:border-primary">
                    <a href="{{event.link}}" target="_blank" rel="noopener noreferrer">
                        <img class="object-cover w-full h-auto group-hover:brightness-110" src="https://api.strapi.camino.network{{event.image.data.attributes.url}}" alt="" />
                    </a>
                    <div class="flex flex-col h-full p-6">
                        <a class="text-xl font-black md:text-3xl hover:text-primary" href="{{event.link}}" target="_blank" rel="noopener noreferrer">
                            {{event.title}}
                        </a>
                        <div class="my-4 uppercase text-primary md:flex">
                            <div class="flex items-center mb-2 text-sm font-bold md:mr-4 md:mb-0">
                                <svg class="w-5 h-5 mr-2" fill="none" viewBox="0 0 24 24"><g stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="map-marker-area__map-marker-area"><path d="M18 16.016c1.245.529 2 1.223 2 1.984 0 1.657-3.582 3-8 3s-8-1.343-8-3c0-.76.755-1.456 2-1.984" class="map-marker-area__Ellipse map-marker-area__494"/><path d="M17 8.444C17 11.537 12 17 12 17s-5-5.463-5-8.556C7 5.352 9.239 3 12 3s5 2.352 5 5.444Z" class="map-marker-area__Ellipse map-marker-area__116"/><circle cx="12" cy="8" r="1" class="map-marker-area__Ellipse map-marker-area__117"/></g></svg>
                                {{event.location}}
                            </div>
                            <div class="flex items-center text-sm font-bold">
                                <svg class="w-5 h-5 mr-2" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="calendar-event"><path id="Vector 15" d="M4 9V19C4 20.1046 4.89543 21 6 21H18C19.1046 21 20 20.1046 20 19V9M4 9V7C4 5.89543 4.89543 5 6 5H8M4 9H20M20 9V7C20 5.89543 19.1046 5 18 5H16M16 5V3M16 5H8M8 3V5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><rect id="Rectangle 576" x="13" y="14" width="3" height="3" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></g></svg>
                                {{event.date}}
                            </div>
                        </div>
                        <p class="mb-4 text-sm text-gray-600">
                            {{event.description}}
                        </p>
                        <div class="flex flex-wrap items-center justify-start mt-auto -mx-1 gap-x-2 gap-y-0">
                            {% set teamData = event.team_members.data %}
                            {% for a in teamData %}
                            {% set teamMember = a.attributes %}
                                <a class="flex items-center p-1 text-xs font-bold rounded-lg hover:bg-gray-200" href="{{teamMember.linkedInLink}}" target="_blank" rel="noopener noreferrer">
                                    <img class="w-6 h-6 mr-1 border border-gray-200 rounded-full" src="../img/{{teamMember.name | slugify({separator: ''})}}.png" alt="{{teamMember.name}} - Photo">
                                    {{teamMember.name}}
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="max-w-screen-xl px-8 py-16 mx-auto">

    <div class="mb-12 text-2xl font-black text-center xl:text-5xl">
        Past events and insights
    </div>

    <div class="grid items-stretch grid-cols-12 gap-6">
        {% for y in eventspast.data | sort(attribute='attributes.startdate') | reverse %}
            {% set eventPast = y.attributes %}
            <a href="{{eventPast.link}}" target="_blank" rel="noopener noreferrer" class="col-span-12 overflow-hidden border border-gray-300 rounded-lg hover:border-primary md:col-span-4">
                <div class="h-full ">
                    <img class="object-cover w-full h-40" src="https://api.strapi.camino.network{{eventPast.image.data.attributes.url}}" alt="">
                    <div class="p-6">
                        <div class="text-xl font-black">
                            {{eventPast.title}}
                        </div>
                        <div class="my-4 uppercase text-primary">
                            <div class="flex items-center mb-2 text-sm font-bold tracking-wider">
                                <svg class="w-5 h-5 mr-2" fill="none" viewBox="0 0 24 24"><g stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="map-marker-area__map-marker-area"><path d="M18 16.016c1.245.529 2 1.223 2 1.984 0 1.657-3.582 3-8 3s-8-1.343-8-3c0-.76.755-1.456 2-1.984" class="map-marker-area__Ellipse map-marker-area__494"/><path d="M17 8.444C17 11.537 12 17 12 17s-5-5.463-5-8.556C7 5.352 9.239 3 12 3s5 2.352 5 5.444Z" class="map-marker-area__Ellipse map-marker-area__116"/><circle cx="12" cy="8" r="1" class="map-marker-area__Ellipse map-marker-area__117"/></g></svg>
                                {{eventPast.location}}
                            </div>
                            <div class="flex items-center text-sm font-bold tracking-wider">
                                <svg class="w-5 h-5 mr-2" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="calendar-event"><path id="Vector 15" d="M4 9V19C4 20.1046 4.89543 21 6 21H18C19.1046 21 20 20.1046 20 19V9M4 9V7C4 5.89543 4.89543 5 6 5H8M4 9H20M20 9V7C20 5.89543 19.1046 5 18 5H16M16 5V3M16 5H8M8 3V5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><rect id="Rectangle 576" x="13" y="14" width="3" height="3" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></g></svg>
                                {{eventPast.date}}
                            </div>
                        </div>
                        <p class="text-sm text-gray-700">
                            {{eventPast.description}}
                        </p>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
</div>