---
layout: default
title: Travel Un'chained 2023
description: Unleashing the potential of blockchain in travel
permalink: /unchained2023/
noindex: true
socialImage: social-unchained-2023.png
---

<!-- Hero starts -->
<div class="py-16 md:h-[70vh] flex items-center justify-center bg-gray-900 text-white relative overflow-hidden">
    <div class="max-w-screen-md px-8 mx-auto text-center relative z-10">
        <img class="w-40 md:w-64 mx-auto mb-8" src="/img/unchained-logo-2023.svg" alt="">
        <h1 class="text-4xl md:text-5xl lg:text-7xl font-black tracking-tight">
            Tomorrow’s travel. <br> Today’s innovation. 
        </h1>
        <p class="text-gray-300 my-6">
            Where travel experts meet to discuss digital transformation, build valuable networks, and introduce products for the new connected travel era.
        </p>
        <div class="inline-flex items-center gap-2 font-semibold justify-center border-2 border-white divide-x-2 rounded-lg">
            <div class="flex items-center py-3 px-2 md:px-4 text-xs md:text-base">
                <svg class="w-4 md:w-8 mr-2" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24"><path d="M9 3a1 1 0 0 0-2 0v1H6a3 3 0 0 0-3 3v1h18V7a3 3 0 0 0-3-3h-1V3a1 1 0 1 0-2 0v1H9V3Z"/><path fill-rule="evenodd" d="M3 19v-9h18v9a3 3 0 0 1-3 3H6a3 3 0 0 1-3-3Zm11-5a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1v-2a1 1 0 0 0-1-1h-2Z"/></svg>
                Oct 10 – 11, 2023
            </div>
            <div class="flex items-center py-3 px-2 md:px-4 text-xs md:text-base">
                <svg class="w-4 md:w-8 mr-2" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24"><path d="M12 8a2 2 0 1 0 0 4 2 2 0 0 0 0-4Z"/><path fill-rule="evenodd" d="m13.02 21.38-.23.24-.06.06-.02.02a1 1 0 0 1-1.42 0l-.02-.02-.06-.06a16.7 16.7 0 0 1-.22-.23h-.01A47.7 47.7 0 0 1 7.7 17.6c-.9-1.14-1.8-2.44-2.5-3.73A8.62 8.62 0 0 1 4 10c0-4.54 3.6-8 8-8s8 3.46 8 8c0 1.25-.54 2.61-1.21 3.87-.7 1.29-1.6 2.59-2.5 3.73a49.58 49.58 0 0 1-3.27 3.78ZM8 10a4 4 0 1 1 8 0 4 4 0 0 1-8 0Z"/></svg>
                Palma de Mallorca
            </div>
        </div>
    </div>
    <video class="h-full absolute top-1/2 -translate-y-1/2 left-0 right-0 bottom-0 w-full opacity-20 object-cover" loop autoplay muted src="/video/unchained-aftermovie-header.mp4" poster="/img/video-unchained-poster.png"></video>
</div>
<!-- Hero ends -->

<div class="bg-gradient-to-r from-primary to-primaryDark text-center text-gray-900 py-4">
    <div id="demo" class="font-mono text-2xl tracking-normal font-black h-8"></div>
    <script>
    // Set the date we're counting down to
    var countDownDate = new Date("Oct 9, 2023 19:30:00").getTime();

    // Update the count down every 1 second
    var x = setInterval(function() {

    // Get today's date and time
    var now = new Date().getTime();
        
    // Find the distance between now and the count down date
    var distance = countDownDate - now;
        
    // Time calculations for days, hours, minutes and seconds
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
        
    // Output the result in an element with id="demo"
    document.getElementById("demo").innerHTML = days + "d " + hours + "h "
    + minutes + "m " + seconds + "s ";
        
    // If the count down is over, write some text 
    if (distance < 0) {
        clearInterval(x);
        document.getElementById("demo").innerHTML = "EXPIRED";
    }
    }, 1000);
    </script>
</div>


<div class="py-16 md:py-24">
    <div class="max-w-screen-xl px-8 py-16 mx-auto">
        <h2 class="text-2xl md:text-4xl lg:text-6xl mb-8 md:mb-16 font-black text-center">
            Confirmed Speakers 2023
        </h2>
        <div class="flex flex-wrap justify-center">
            {% for speaker in unchainedspeakers2023 %}
                <div class="w-1/2 md:1/3 lg:w-1/4 text-center mb-8">
                    <img class="mx-auto w-24 md:w-32 aspect-square rounded-full border border-gray-300" src="{{speaker.image}}" alt="">
                    <div class="font-black text-lg md:text-2xl mt-4">{{speaker.name}}</div>
                    <div class="text-gray-700">{{speaker.position}}</div>
                    {% if speaker.position2 %}<div class="text-gray-700">{{speaker.position2}}</div>{% endif %}
                    <a class="p-2 text-sm text-gray-500 hover:text-primary hover:underline whitespace-nowrap" href="{{ speaker.linkedin }}" target="_blank">
                        LinkedIn
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="bg-gray-900 text-white py-12 md:py-24">

<div class="max-w-screen-xl px-8 mx-auto mb-12">
    <div class="bg-gradient-to-r from-secondary to-[#018D7C] rounded-xl p-6 text-gray-900 relative overflow-hidden">
        <div class="z-10 relative">
            <div class="font-black text-3xl xl:text-4xl">
                Welcome Night
            </div>
            <div class="my-2 text-sm sm:text-base">
                October 9 &bull; 19:30 &bull; Hotel Florida Magaluf
            </div>
            <a href="https://emind.de/en/" target="_blank" rel="noopener noreferrer" class="inline-flex items-center">
                Sponsored by:
                <img class="ml-2" src="/img/unchained/logo-emind.png" width="80px" alt="">
            </a>
        </div>
        <img class="hidden sm:block absolute top-0 -right-8 h-full z-0" src="/img/welcomenightgraphic.png" alt="">
    </div>
</div>

<div class="max-w-screen-xl px-8 mx-auto grid grid-cols-12 lg:gap-16">
    <div class="col-span-12 lg:col-span-6 mb-16 lg:mb-0" id="agenda">
        <div class="text-white font-black text-3xl mb-2 flex items-center">
            <svg class="w-8 h-8 flex-shrink-0 mr-4 text-primary" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5h10m-10 7h10m-10 7h10"></path><circle cx="5" cy="5" r="2" fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></circle><circle cx="5" cy="5" r="2" fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></circle><circle cx="5" cy="12" r="2" fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></circle><circle cx="5" cy="19" r="2" fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></circle></svg>
            Event Agenda
        </div>

        <div class="text-white font-black text-2xl mb-4 mt-8">October 10</div>

        <table class="text-left align-top border border-gray-700 w-full">
            <tr class="small bg-gray-800">
                <td colspan="2">
                    <span class="text-white text-sm md:text-base font-black block">Location: Moli d’Es Comte</span> </td>
            </tr>
            <tr class="small bg-gray-800 text-gray-400">
                <td class="timetable-cell-small">10:00 - 11:00</td>
                <td>Transfer to Conference & Check-in</td>
            </tr>

            <tr class="small">
                <td class="timetable-cell-small">11:05 - 11:15</td>
                <td>
                    <div class="font-bold">Opening Speech</div>
                    <div class="text-sm text-gray-400">Thomas Stirnimann (Camino Network Foundation)</div>
                </td>
            </tr>
            <tr class="small">
                <td class="timetable-cell-small">11:20 - 11:40</td>
                <td>
                    <div class="font-bold">Web3 + AI = Next Gen OTA</div>
                    <div class="text-sm text-gray-400">Michael Ros (Sleap)</div>
                </td>
            </tr>
            <tr class="small">
                <td class="timetable-cell-small">11:45 - 12:00</td>
                <td>
                    <div class="font-bold">TBA</div>
                    <div class="text-sm text-gray-400">Rob Groombridge (SH Financial)</div>
                </td>
            </tr>
            <tr class="small bg-gray-800">
                <td class="timetable-cell-small">12:00 - 13:00</td>
                <td>Lunch Break</td>
            </tr>
            <tr class="small">
                <td class="timetable-cell-small">13:00 - 13:20</td>
                <td>
                    <div class="font-bold">Reduce Flight-Related CO₂ Emissions Through Tokenization</div>
                    <div class="text-sm text-gray-400">Marc Riley (DER Touristik)</div>
                </td>
            </tr>
            <tr class="small">
                <td class="timetable-cell-small">13:25 - 13:40</td>
                <td>
                    <div class="font-bold">Web3 Innovation in the Travel Industry - Services, Trading, Loyalty 3.0</div>
                    <div class="text-sm text-gray-400">Manuel Saballus (Peakwork)</div>
                </td>
            </tr>
            <tr class="small">
                <td class="timetable-cell-small">13:45 - 14:00</td>
                <td>
                    <div class="font-bold">The way forward: Crypto and Markets</div>
                    <div class="text-sm text-gray-400">Benjamin Usinger (BitMEX)</div>
                </td>
            </tr>
            <tr class="small">
                <td class="timetable-cell-small">14:05 - 14:20</td>
                <td>
                    <div class="font-bold">Your data is worthless</div>
                    <div class="text-sm text-gray-400">Samuel Austin (Offsetdata)</div>
                </td>
            </tr>
            <tr class="small">
                <td class="timetable-cell-small">14:25 - 14:35</td>
                <td>
                    <div class="font-bold">From Real to Digital: Tokenization and Shared ownership for Travel</div>
                    <div class="text-sm text-gray-400">Michael Hasler (Juice)</div>
                </td>
            </tr>
            <tr class="small bg-gray-800">
                <td class="timetable-cell-small">14:35 - 15:00</td>
                <td>Coffee Break</td>
            </tr>
            <tr class="small">
                <td class="timetable-cell-small">15:00 - 15:25</td>
                <td>
                    <div class="font-bold">Cookies are dead – long live the wallet</div>
                    <div class="text-sm text-gray-400">Vicktoria Klich (w3.fund)</div>
                </td>
            </tr>
            <tr class="small">
                <td class="timetable-cell-small">15:30 - 15:55</td>
                <td>
                    <div class="font-bold">One more thing</div>
                    <div class="text-sm text-gray-400">Ralf Usbeck (Chain4Travel)</div>
                </td>
            </tr>
            <tr class="small">
                <td class="timetable-cell-small">16:00 - 16:15</td>
                <td>
                    <div class="font-bold">TBA</div>
                    <div class="text-sm text-gray-400">Jens Bischof (Eurowings)</div>
                </td>
            </tr>
            <tr class="small">
                <td class="timetable-cell-small">16:00 - 16:15</td>
                <td>
                    <div class="font-bold">Closing Speech</div>
                    <div class="text-sm text-gray-400">Pablo Castillo (Chain4Travel)</div>
                </td>
            </tr>


            <tr class="small bg-gray-800 text-gray-400">
                <td class="timetable-cell-small">19:00</td>
                <td>Transfer to Restaurant</td>
            </tr>
            <tr class="small bg-gray-800">
                <td colspan="2"><span class="text-sm md:text-base font-black block">Location: UM Beach House
                </span> </td>
            </tr>
            <tr class="small bg-gradient-to-r from-primary to-primaryDark text-white">
                <td class="timetable-cell-small">20:00</td>
                <td class="md:flex items-center justify-between">
                    <span class="font-black text-xl">Dinner & <a class="underline hover:opacity-80" href="/cocktailbar">Cocktails</a> </span> <br class="md:hidden">
                    <a href="https://www.involatus.com/" target="_blank" rel="noopener noreferrer" class="mt-1 md:mt-0 p-2 bg-white hover:scale-110 transition-transform rounded-lg md:ml-4 flex flex-col items-center uppercase text-[11px] font-medium text-gray-900">
                        <div>Cocktail Sponsor:</div>
                        <img class="md:ml-1" src="/img/involatus-logo-simple.svg" width="140px" alt="">
                    </a>
                </td>
            </tr>
            <tr class="small">
                <td class="timetable-cell-small">23:30 - 01:00</td>
                <td>Transfer to Hotel</td>
            </tr>
        </table>
    </div>
    <div class="col-span-12 lg:col-span-6" id="shuttle">
        <div class="text-white font-black text-3xl mb-2 flex items-center">
            <svg class="w-8 h-8 flex-shrink-0 mr-4 text-primary" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 19v0a2 2 0 0 1-2-2v-4m2 6v1.5a.5.5 0 0 0 .5.5v0a.5.5 0 0 0 .5-.5V19m-1 0h1m11 0v0a2 2 0 0 0 2-2v-4m-2 6v1.5a.5.5 0 0 1-.5.5v0a.5.5 0 0 1-.5-.5V19m1 0h-1M4 13V7m0 6h8m8 0V7m0 6h-8m-5 6h10M4 7V5a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v2M4 7h8m8 0h-8m0 0v6"></path><path fill="currentColor" fill-rule="evenodd" d="M4 13h16v6H4v-6zm3 3a1 1 0 0 1 1-1h.001a1 1 0 1 1 0 2H8a1 1 0 0 1-1-1zm9-1a1 1 0 1 0 0 2h.001a1 1 0 1 0 0-2H16z" clip-rule="evenodd"></path><path fill="currentColor" d="M4 5a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v2H4V5z"></path></svg>
            Shuttle Service
        </div>
        
        <div class="text-white font-black text-2xl mb-4 mt-8">Conference Day Shuttle (Oct 10)</div>
        <p class="mb-4 text-sm text-gray-400">
            On Tuesday, we have an exciting itinerary that includes visits to several locations, and rest assured, we will handle all transportation logistics to and from these destinations.
        </p>
        
        <table class="text-left align-top border border-gray-700">
            <tr>
                <td class="timetable-cell">Oct 10<br> 10:00</td>
                <td>
                    <strong>Hotel Florida Magaluf</strong> <br>
                    Carrer Torrenova, 33, 07181 Magaluf
                </td>
            </tr>
            <tr>
                <td class="timetable-cell">Oct 10<br> 17:15</td>
                <td>
                    <strong>Restaurant Es Molí d'es Comte</strong> <br>
                    Carrer del Molí del Comte, 44, 07010 Palma
                </td>
            </tr>
            <tr>
                <td class="timetable-cell">Oct 10<br> 19:00</td>
                <td>
                    <strong>Hotel Florida Magaluf</strong> <br>
                    Carrer Torrenova, 33, 07181 Magaluf
                </td>
            </tr>
            <tr>
                <td class="timetable-cell">Oct 10<br> 23:00 - 01:00</td>
                <td>
                    <strong>UM Beach House </strong> <br>
                    Ctra. Andratx, km 11, 07181 Magaluf
                </td>
            </tr>
        </table>


        <div class="bg-gradient-to-r from-[#0085FF] to-[#B440FC] rounded-xl p-1 mt-8">
            <div class="bg-gray-900 p-6 rounded-lg overflow-hidden relative">
                <div class="z-10 relative">
                    <div class="font-black text-3xl">
                        Networking Brunch
                    </div>
                    <div class="my-2 text-sm sm:text-base">
                        October 11 &bull; 10:45 - 12:45 &bull; Hotel Florida Magaluf
                    </div>
                    <a href="https://emind.de/en/" target="_blank" rel="noopener noreferrer" class="inline-flex items-center">
                        Sponsored by:
                        <img class="ml-2" src="/img/logo-universal-white.png" width="100px" alt="">
                    </a>
                </div>
                <img class="hidden sm:block absolute top-0 -right-8 h-full z-0" src="/img/networkbrunchgraphic.png" alt="">
            </div>
        </div>

        <div class="text-white font-black text-2xl mb-4 mt-8">Map</div>

        <iframe class="h-[300px] md:h-[560px] w-full" src="https://www.google.com/maps/d/u/1/embed?mid=1tZlCVJT3GsfWGAGunwgFr2fOsMDmwo0&ehbc=2E312F&noprof=1"></iframe>
    </div>
</div>

</div>

<div class="py-16 md:py-24">
    <div class="max-w-screen-xl px-8 mx-auto grid grid-cols-12 gap-6 items-center">
        <div class="col-span-12 md:col-span-5 rounded-lg overflow-hidden">
            {% image "src/img/unchained-img-hotel.png", "Photorealistic round window on ship hyperrealistic view", "", "w-full h-full object-cover" %}
        </div>
        <div class="md:col-start-7 col-span-12 md:col-span-6">
            <div class="text-2xl xl:text-5xl font-black">
                Our hotel partner for Travel Un'chained 2023
            </div>
            <p class="my-2 md:my-6 text-gray-700">
                We are pleased to collaborate with the Camino Validator Universal as the hotel partner for Travel Un'chained 2023.
            </p>
            <p class="my-2 md:my-6 text-gray-700">
                <strong>Hotel Florida Magaluf</strong> is a <strong>four star hotel</strong> located in the heart of Magaluf, and part of the event will be hosted there. Enjoy the utmost convenience by staying at Hotel Florida Magaluf, as transfers to and from other event locations will be organized from this central hub as well.
            </p>
        </div>
    </div>
</div>

<section>
    <div x-data="{ total: 9, current: 0, open: true }" class="max-w-screen-xl px-8 mx-auto flex py-16 md:flex-row flex-col items-center border-b border-gray-200">
        <div  x-show="open" class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left items-center text-center">
            <h2 class="text-2xl xl:text-5xl font-black mb-8">Last year’s impressions</h2>
            <p class="mb-8 text-gray-700">
                24 hours of blockchain in travel and three different locations in and around Palma. Our first Travel Un'chained event left attendees amazed at the potential of blockchain for the travel industry. Take a look for yourself.
            </p>
            <div class="flex justify-center gap-2">
                <a class="btn-primary" href="/unchained2022">Recap 2022</a>
                <a class="btn-black-outline" href="/unchained-gallery" >Photo Gallery</a>
            </div>
        </div>
        <div class="md:w-1/2 w-5/6 relative mt-8 md:mt-0">
            <div class="flex absolute left-1/2 -translate-x-1/2 bottom-4 text-white">
                <span @click="if(current >= 1){ current = current - 1}" class="bg-gray-900/70 hover:bg-gray-900 cursor-pointer flex items-center py-3 px-4 rounded-lg mr-3">
                    <svg class="mr-1 w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M15 19l-7-7 7-7"></path></svg>
                    <span class="touch-none select-none">Prev</span>
                </span>
                <span @click="if(current < total-1){ current = current + 1}" class="bg-gray-900/70 hover:bg-gray-900 cursor-pointer flex items-center py-3 px-4 rounded-lg">
                    <span class="touch-none select-none">Next</span>
                    <svg class="ml-1 w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M9 5l7 7-7 7"></path></svg>
                </span>
            </div>
            <img class="rounded-tl-3xl rounded-br-3xl border border-gray-200 w-full h-72 md:h-[400px] object-cover" x-show="current == 0" src="/img/unchained-photos/unchained-photo-01.jpg">
            <img class="rounded-tl-3xl rounded-br-3xl border border-gray-200 w-full h-72 md:h-[400px] object-cover" x-show="current == 1" src="/img/unchained-photos/unchained-photo-02.jpg">
            <img class="rounded-tl-3xl rounded-br-3xl border border-gray-200 w-full h-72 md:h-[400px] object-cover" x-show="current == 2" src="/img/unchained-photos/unchained-photo-03.jpg">
            <img class="rounded-tl-3xl rounded-br-3xl border border-gray-200 w-full h-72 md:h-[400px] object-cover" x-show="current == 3" src="/img/unchained-photos/unchained-photo-04.jpg">
            <img class="rounded-tl-3xl rounded-br-3xl border border-gray-200 w-full h-72 md:h-[400px] object-cover" x-show="current == 4" src="/img/unchained-photos/unchained-photo-05.jpg">
            <img class="rounded-tl-3xl rounded-br-3xl border border-gray-200 w-full h-72 md:h-[400px] object-cover" x-show="current == 5" src="/img/unchained-photos/unchained-photo-06.jpg">
            <img class="rounded-tl-3xl rounded-br-3xl border border-gray-200 w-full h-72 md:h-[400px] object-cover" x-show="current == 6" src="/img/unchained-photos/unchained-photo-07.jpg">
            <img class="rounded-tl-3xl rounded-br-3xl border border-gray-200 w-full h-72 md:h-[400px] object-cover" x-show="current == 7" src="/img/unchained-photos/unchained-photo-08.jpg">
            <img class="rounded-tl-3xl rounded-br-3xl border border-gray-200 w-full h-72 md:h-[400px] object-cover" x-show="current == 8" src="/img/unchained-photos/unchained-photo-09.jpg">
            <img class="rounded-tl-3xl rounded-br-3xl border border-gray-200 w-full h-72 md:h-[400px] object-cover" x-show="current == 9" src="/img/unchained-photos/unchained-photo-10.jpg">
        </div>
    </div>
</section>