---
layout: default
title: Travel Un'chained 2024
description: Unleashing the potential of blockchain in travel
permalink: /unchained2024/
noindex: true
socialImage: social-unchained-2024.png
---

<div x-data="{ travelUnchainedModal: false }">
    <!-- Hero starts -->
    <div class="py-8 text-white bg-gray-900 pt-24 pb-32 relative">
        <div class="max-w-screen-md px-8 mx-auto text-center relative z-10">
            <img class="w-40 mx-auto mb-6" src="/img/unchained-logo-2024.svg" alt="">
            <h1 class="text-4xl font-black tracking-tight md:text-5xl lg:text-6xl">
                Tomorrow’s travel. <div class="text-primary">Today’s innovation.</div>  
            </h1>
            <div class="inline-flex items-center justify-center gap-4 mt-6 font-semibold px-4 py-3 bg-gray-950/30 rounded-lg">
                <div class="flex items-center text-xs md:text-sm">
                    <svg class="w-4 mr-1 md:w-6" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24"><path d="M9 3a1 1 0 0 0-2 0v1H6a3 3 0 0 0-3 3v1h18V7a3 3 0 0 0-3-3h-1V3a1 1 0 1 0-2 0v1H9V3Z"/><path fill-rule="evenodd" d="M3 19v-9h18v9a3 3 0 0 1-3 3H6a3 3 0 0 1-3-3Zm11-5a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1v-2a1 1 0 0 0-1-1h-2Z"/></svg>
                    Sep 30 - Oct 2, 2024
                </div>
                <div class="flex items-center text-xs md:text-sm">
                    <svg class="w-4 mr-1 md:w-6" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24"><path d="M12 8a2 2 0 1 0 0 4 2 2 0 0 0 0-4Z"/><path fill-rule="evenodd" d="m13.02 21.38-.23.24-.06.06-.02.02a1 1 0 0 1-1.42 0l-.02-.02-.06-.06a16.7 16.7 0 0 1-.22-.23h-.01A47.7 47.7 0 0 1 7.7 17.6c-.9-1.14-1.8-2.44-2.5-3.73A8.62 8.62 0 0 1 4 10c0-4.54 3.6-8 8-8s8 3.46 8 8c0 1.25-.54 2.61-1.21 3.87-.7 1.29-1.6 2.59-2.5 3.73a49.58 49.58 0 0 1-3.27 3.78ZM8 10a4 4 0 1 1 8 0 4 4 0 0 1-8 0Z"/></svg>
                    Palma de Mallorca
                </div>
            </div>
            <p class="my-6 md:text-lg">
                Where travel experts meet to discuss digital transformation, build valuable networks, and introduce products for the new connected travel era.
            </p>
        </div>
        {% image "src/img/unchained/unchained-04.png", "Unchained speaker room", "", "opacity-40 absolute inset-0 w-full h-full object-cover" %}
    </div>
    <!-- Hero ends -->

    <!-- Countdown starts -->
    <div class="text-center h-32 flex flex-col items-center justify-center bg-gradient-to-b from-primary to-primaryDark py-6">
        <div id="demo" class="flex items-center gap-7 md:gap-12 text-white justify-center text-3xl md:text-5xl tracking-normal font-bold"></div>
        <script>
        // Set the date we're counting down to
        var countDownDate = new Date("Sep 30, 2024 09:00:00").getTime();

        // Update the count down every 1 second
        var x = setInterval(function() {

        // Get today's date and time
        var now = new Date().getTime();
            
        // Find the distance between now and the count down date
        var distance = countDownDate - now;
            
        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);
            
        // Output the result in an element with id="demo"
        document.getElementById("demo").innerHTML = "<div>" + days + " <div class='text-base mt-2 uppercase font-normal'>Days</div></div> " + "<div>" + hours + " <div class='text-base mt-2 uppercase font-normal'>Hours</div></div> " + "<div>" + minutes + " <div class='text-base mt-2 uppercase font-normal'>Minutes</div></div> " + "<div>" + seconds + " <div class='text-base mt-2 uppercase font-normal'>Seconds</div></div> ";
            
        // If the count down is over, write some text 
        if (distance < 0) {
            clearInterval(x);
            document.getElementById("demo").innerHTML = "EXPIRED";
        }
        }, 1000);
        </script>
    </div>
    <!-- Countdown ends -->

    <div class="py-16 md:py-24">
        <div class="max-w-screen-xl px-8 mx-auto grid grid-cols-12 gap-6 items-center">
            <div class="col-span-12 md:col-span-6">
                <div class="text-2xl xl:text-5xl font-black">
                    The 3rd edition of Travel Un'chained
                </div>
                <p class="my-2 md:my-6">
                    The third time is a charm. Once again, we are inviting 250 web3 and travel executives to Mallorca. In addition to networking opportunities, we are putting together a one-day conference with exciting speakers showcasing real innovations in travel. Don't miss your chance to join C-level executives from around the world as they explore the latest trends in travel technology and share ideas about web3's innovations in the industry. Ready to join us?
                </p>
                <span @click="travelUnchainedModal = true" class="btn-primary">Confirm interest</span>
            </div>
            <div class="col-span-12 md:col-span-5 md:col-start-8 rounded-lg overflow-hidden h-64 md:h-[320px]">
                {% image "src/img/unchained/unchained-07.png", "Unchained Event on stage", "", "w-full h-full object-cover object-left-top" %}
            </div>
        </div>
    </div>

    <div class="text-center bg-gray-100 py-12">
        <div class="max-w-screen-xl px-8 mx-auto">
            <div class="flex flex-col md:flex-row justify-between items-center gap-4">
                <div class="w-full flex flex-col items-center justify-center">
                    {% image "src/img/tu24-timeline-01.png", "ut2024-timeline-01", "", "w-32 rounded-full mb-3" %}
                    <div class="text-2xl md:text-4xl font-black mb-1">Sep 30</div>
                    Welcome Night
                </div>
                <div class="w-full flex flex-col items-center justify-center">
                    {% image "src/img/tu24-timeline-02.png", "ut2024-timeline-02", "", "w-32 rounded-full mb-3" %}
                    <div class="text-2xl md:text-4xl font-black mb-1">Oct 01</div>
                    Conference & Dinner
                </div>
                <div class="w-full flex flex-col items-center justify-center">
                    {% image "src/img/tu24-timeline-03.png", "ut2024-timeline-03", "", "w-32 rounded-full mb-3" %}
                    <div class="text-2xl md:text-4xl font-black mb-1">Oct 02</div>
                    Networking Brunch
                </div>
            </div>
        </div>
    </div>

    <div class="py-16 md:py-24 bg-gray-900 text-white">
        <div class="text-2xl xl:text-5xl font-black text-center">
            Agenda Oct 01
        </div>
        <div class="max-w-screen-xl px-8 mx-auto mt-8">
            <div class="rounded-lg overflow-hidden">
                <table class="table-agenda text-left text-sm border-2 border-primary">
                    <tr class="bg-primary text-white">
                        <th>Time</th>
                        <th>Title</th>
                        <th>Speaker</th>
                    </tr>
                    {% for x in unchained24agenda %}
                    <tr class="{% if x.speaker %} {% else %} bg-gray-700 {% endif %}">
                        <td class="border-r border-gray-700 md:whitespace-nowrap font-mono text-xs text-center">{{ x.time }}</td>
                        <td class="border-r border-gray-700 font-black text-sm md:text-base">{{ x.title }}</td>
                        <td>
                            {% if x.speaker is iterable and not x.speaker is string %}
                                <div class="flex flex-col md:flex-row items-center gap-2 md:gap-4">
                                    {% for z in x.speaker %}
                                        <div class="w-full">
                                            <div class="text-xs md:text-sm font-bold">{{ z.name }}</div>
                                            <div class="text-gray-400 text-xs">{{ z.company }}</div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {% if x.speaker %}
                                    <div>
                                        <div class="text-xs md:text-sm font-bold">{{ x.speaker.name }}</div>
                                        <div class="text-gray-400 text-xs">{{ x.speaker.company }}</div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}                
                </table>
            </div>
        </div>
    </div>

    <div class="py-16 md:py-24">
        <div class="text-2xl xl:text-5xl font-black text-center">
            Speakers
        </div>
        <div class="max-w-screen-xl px-8 mx-auto grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-x-2 md:gap-x-6 lg:gap-x-10 justify-center mt-8">
        {% for speaker in unchainedspeakers2024 | sort(attribute='name') %}
        <div class="p-4">
            {% set speakerSlug = "src/img/unchained-2024/" + speaker.name | slugify + ".png" %}
            <div class="rounded-xl overflow-hidden aspect-square border-2 border-primary bg-gradient-to-b from-white to-primary/20 mb-2 shadow-lg relative">
                <a class="absolute top-0 right-0 p-2 hover:opacity-70 text-primary" href="{{speaker.linkedin}}" target="_blank" rel="noopener noreferrer">
                    <svg class="w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M8 11v5m8 0v-3c0-.67-.4-2-2-2s-2 1.33-2 2m0 3v-3m0 0v-2M8 8h.01M5 21h14a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v14c0 1.1.9 2 2 2Z"/></svg>
                </a>
                {% image speakerSlug, "annet-steenbergen", "", "inline-block w-full object-contain" %}
            </div>
            <div class="text-center">
                <div class="font-black mb-1 text-lg">{{speaker.name}}</div>
                <div class="text-xs text-gray-700">{{speaker.position}}</div>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>

    <div class="py-16 md:py-24">
        <div class="max-w-screen-xl px-8 mx-auto grid grid-cols-12 gap-6 items-center">
            <div class="col-span-12 md:col-span-5 rounded-lg overflow-hidden h-64 md:h-[320px]">
                {% image "src/img/hotel-florida-ut2024.png", "Hotel from universal", "", "w-full h-full object-cover object-left-top" %}
            </div>
            <div class="md:col-start-7 col-span-12 md:col-span-6">
                <div class="text-2xl xl:text-5xl font-black">
                    Travel Un’chained Hotel Partner: Universal
                </div>
                <p class="my-2 md:my-6">
                    Universal Beach Hotels is once again our official hotel partner for Travel Un'chained. Upon registration, attendees will receive an exclusive booking code in their confirmation email for an exceptional rate at Hotel Florida Magaluf. The hotel will serve as the central hub for the entire event, providing a prime networking location with fantastic rates for all attendees. Join us at the magnificent 4**** Hotel Florida Magaluf for an unforgettable experience.
                </p>
            </div>
        </div>
    </div>



    <div class="text-center bg-gray-100 py-12">
        <div class="max-w-screen-xl px-8 mx-auto">
            <div class="text-2xl xl:text-5xl font-black">
                Event sponsors
            </div>
            <div class="grid grid-cols-2 md:grid-cols-5 gap-4 md:gap-8 items-center justify-center my-8">
                <a href="https://emind.de/en" target="_blank" class="bg-white border border-gray-100 hover:border-gray-400 transition-colors rounded-xl p-4 w-full flex items-center justify-center h-32 shadow-sm">
                    <img src="/img/logo-emind.svg" alt="">                                         
                </a>
                <a href="https://www.involatus.com/" target="_blank" class="bg-white border border-gray-100 hover:border-gray-400 transition-colors rounded-xl p-4 w-full flex items-center justify-center h-32 shadow-sm">
                    <img src="/img/logo-involatus.svg" alt="">                    
                </a>
                <a href="https://www.universalbeachhotels.com/de/" target="_blank" class="bg-white border border-gray-100 hover:border-gray-400 transition-colors rounded-xl p-4 w-full flex items-center justify-center h-32 shadow-sm">
                    <img src="/img/logo-universal-beach.svg" alt="">                                         
                </a>
                <a href="https://hexens.io/" target="_blank" class="bg-white border border-gray-100 hover:border-gray-400 transition-colors rounded-xl p-4 w-full flex items-center justify-center h-32 shadow-sm">
                    <img src="/img/logo-hexens.svg" alt="">                                                            
                </a>
                <a href="https://www.freshcells.de/en/" target="_blank" class="bg-white border border-gray-100 hover:border-gray-400 transition-colors rounded-xl p-4 w-full flex items-center justify-center h-32 shadow-sm">
                    <img src="/img/logo-freshcells.svg" alt="">                                                            
                </a>
            </div>    
            <a href="mailto:hello@chain4travel.com" class="btn-primary">
                Become a sponsor
            </a>     
        </div>
    </div>

    <section class="py-12 md:py-24">
        <div class="max-w-screen-lg px-4 mx-auto">
            <div class="text-2xl xl:text-5xl font-black text-center mb-6">
                Travel Un'chained 2023 Impressions
            </div>
            <div class="video-container">
                <iframe src="https://www.youtube-nocookie.com/embed/dHOlxmgFnzs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="grid grid-cols-12 gap-4 mt-4">
                {% image "src/img/unchained/unchained-01.png", "ALT", "col-span-6 md:col-span-3", "h-full rounded-xl object-cover shadow-lg" %}
                {% image "src/img/unchained/unchained-07.png", "ALT", "col-span-6 md:col-span-4", "h-full rounded-xl object-cover shadow-lg" %}
                {% image "src/img/unchained/unchained-03.png", "ALT", "col-span-6 md:col-span-5", "h-full rounded-xl object-cover shadow-lg" %}
                {% image "src/img/unchained/unchained-04.png", "ALT", "col-span-6 md:col-span-4", "h-full rounded-xl object-cover shadow-lg" %}
                {% image "src/img/unchained/unchained-05.png", "ALT", "col-span-6 md:col-span-4", "h-full rounded-xl object-cover shadow-lg" %}
                {% image "src/img/unchained/unchained-09.png", "ALT", "col-span-6 md:col-span-4 row-span-2", "h-full rounded-xl object-cover shadow-lg" %}
                {% image "src/img/unchained/unchained-02.png", "ALT", "col-span-6 md:col-span-2", "h-full rounded-xl object-cover shadow-lg" %}
                {% image "src/img/unchained/unchained-08.png", "ALT", "col-span-6 md:col-span-3", "h-full rounded-xl object-cover shadow-lg" %}
                {% image "src/img/unchained/unchained-06.png", "ALT", "col-span-6 md:col-span-3", "h-full rounded-xl object-cover shadow-lg" %}
            </div>
        </div>
    </section>


    <!-- C-Level Team Modal -->
    <div x-cloak x-transition x-show="travelUnchainedModal" class="bg-gray-900/75 mx-auto fixed top-0 left-0 w-full h-full flex items-center overflow-y-auto z-50">
        <div class="max-w-lg mx-auto p-6 rounded overflow-y-auto flex flex-col items-center justify-center">
            <div class="bg-gray-950 shadow-2xl rounded-2xl overflow-hidden text-gray-900" @click.away="travelUnchainedModal = false">
                <div class="relative">
                    {% image "src/img/unchained/unchained-03.png", "Unchained Event on stage", "", "w-full h-64 object-cover opacity-80" %}
                    <div class="absolute bottom-6 left-6 text-2xl xl:text-4xl font-black text-white">Keen to join? <br> Let us know.</div>
                    <div @click="travelUnchainedModal = false" class="absolute top-2 right-2 p-4 rounded-full w-8 h-8 hover:bg-dark cursor-pointer bg-dark/75 leading-none font-bold text-white flex items-center justify-center">x</div>
                </div>
                <div class="p-6">
                    {% include "travel-unchained-contact.html" %}
                </div>
            </div>
        </div>
    </div>
</div>