---
layout: default
title: Hospitality
---

<!-- Hero starts -->
<div class="py-16 md:py-20 bg-gray-900 text-white">
    <div class="max-w-screen-xl px-8 md:px-4 mx-auto text-center">
        <p class="text-secondary uppercase font-bold text-sm tracking-widest mb-6">Use Case in detail</p>
        <h1 class="text-4xl md:text-5xl lg:text-7xl font-black">
            Blockchain technologies for challenges in <span class="text-primary">hospitality</span>
        </h1>
        <p class="mt-8 md:text-lg lg:text-xl max-w-screen-md mx-auto text-gray-400">
            Leverage new distribution and personalization opportunities
        </p>
        <a href="/usecases" class="mt-8 btn-white-outline">Back to overview</a>
    </div>
</div>
<!-- Hero ends -->

<div class="py-16 md:py-32">
    <div class="max-w-screen-xl px-8 md:px-4 mx-auto grid grid-cols-12 gap-6 items-center">
        <div class="col-span-12 md:col-span-6">
            <div class="text-2xl xl:text-5xl font-black">
                A home away from home
            </div>
            <p class="my-2 md:my-6">
                The hospitality industry offers travelers a welcoming and comfortable environment but faces challenges that can be addressed through digital transformation. Blockchain technology enables direct sales, tradable rates, transferable bookings, increased loyalty, frictionless experiences, personalized offers, and digitization of most assets, even microservices. Blockchain-powered secure customer wallets will also enhance personalization, communication, and in-resort experiences for guests.
            </p>
        </div>
        <div class="col-span-12 md:col-span-5 md:col-start-8 rounded-lg overflow-hidden h-64 md:h-[460px]">
            {% image "src/img/bed_summer_beach_natural_lighting_natural_geographic.jpg", "Bed summer beach natural lighting natural geographic", "w-full h-full object-cover" %}
        </div>
    </div>
</div>

<!-- Stats block starts -->
<div class="py-16 bg-gradient-to-b bg-gray-900">
    <div class="max-w-screen-xl px-8 md:px-4 mx-auto text-center text-white">
        <div class="text-xl xl:text-3xl font-black mb-6 md:mb-12">Digital solutions for hospitality challenges</div>
        <div class="md:grid grid-cols-12 gap-8">
            <div class="col-span-12 md:col-span-6 bg-gray-800 rounded-lg relative">
                <div class="p-4 md:p-6 mb-4 md:mb-0">
                    <h2 class="font-black text-xl md:text-3xl my-2">
                        97% of surveyed hotels report staffing shortages.
                    </h2>
                    <p class="text-gray-300 text-sm">
                        AHLA Foundation, 2022
                    </p>
                </div>
            </div>
            <div class="col-span-12 md:col-span-6 bg-gray-800 rounded-lg relative">
                <div class="p-4 md:p-6 mb-4 md:mb-0">
                    <h2 class="font-black text-xl md:text-3xl my-2">
                        Total costs per booking can range from 15% to 30% of room revenue.
                    </h2>
                    <p class="text-gray-300 text-sm">
                        Preno, 2022
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Stats block ends -->

<div class="py-16 md:py-32">
    <div class="max-w-screen-xl px-8 md:px-4 mx-auto">
    {% for y in testimonials %}
    {% if y.slug == "erichfalkensteiner" %}
        <div class="bg-gray-100 rounded-lg p-4 md:p-6 flex items-start">
            <img class="w-12 md:w-24 h-12 md:h-24 rounded-lg" src="/images/{{y.slug}}.png" alt="">
            <div class="ml-4 md:ml-8">
                <p class="md:text-3xl line-clamp-4 font-black">
                    “{{y.text}}”
                </p>
                <div class="text-gray-700 text-sm md:text-base my-2 md:my-4">
                    <div class="font-bold">{{y.person}}</div>
                    {{y.company}}
                </div>
            </div>
        </div>
    {% endif %}
    {% endfor %}
    </div>
</div>

<div class="pb-16 md:pb-32">

    <div class="max-w-screen-xl px-8 md:px-4 mx-auto">

        <div class="font-black text-4xl mb-6 text-center">Enable new business models and streamline trading processes</div>

        <div class="grid grid-cols-12 gap-6">

            <div class="border border-gray-200 overflow-hidden rounded-lg col-span-12 flex flex-col md:flex-row">
                <div class="p-6 md:p-10">
                    <div class="mb-4 font-black text-2xl">Loyalty</div>
                    <p class="mb-4">Everyone strives for loyal customers, but maintaining loyalty is time-consuming and costly. Other industries lead by example on how loyalty programs can be reinvented with web3 technologies, e.g., Starbucks.</p>
                    <p>With Camino Network, the travel industry has the tech infrastructure at hand to create loyalty platforms, more efficient and less costly in bringing on new collection and redemption partners, with streamlined processes and instant views of balances for the customers and partners. Also, for smaller hotels or vacation rentals, this could bring new opportunities to easily join a loyalty program, where customers can collect & redeem in a safe and automized environment.</p>                    
                </div>
                <div class="border-t md:border-t-0 md:border-l border-gray-200 bg-gray-100 p-6 md:p-10 flex-shrink-0 md:w-1/3 flex flex-col justify-center">
                    <div class="mb-2 font-bold">Benefits</div>
                    <ul class="list-decimal pl-4">
                        <li>Reduces the integration and maintenance efforts of loyalty programs</li>
                        <li>Provides instant settlement between multiple partners</li>
                        <li>Secures payment and reduces fraud</li>
                    </ul>
                </div>
            </div>

            <div class="border border-gray-200 overflow-hidden rounded-lg col-span-12 flex flex-col md:flex-row">
                <div class="p-6 md:p-10">
                    <div class="mb-4 font-black text-2xl">Digital collectibles</div>
                    <p class="mb-4">Travelers love collecting things from their trip, such as souvenirs. As of today, these souvenirs can only be physical. The next generation, however, strives for digital proofs of travel that they can share with social networks online.</p>
                    <p>Therefore, a use case of digital collectibles is very interesting for additional income streams and customer loyalty. It can be adopted in variations; for example, in the form of unique NFT collections.</p>                    
                </div>
                <div class="border-t md:border-t-0 md:border-l border-gray-200 bg-gray-100 p-6 md:p-10 flex-shrink-0 md:w-1/3 flex flex-col justify-center">
                    <div class="mb-2 font-bold">Benefits</div>
                    <ul class="list-decimal pl-4">
                        <li>Leverages additional income streams</li>
                        <li>Offers new ways to adapt to the generation of digital nomads</li>
                        <li>Increases loyalty and customer engagement</li>
                    </ul>
                </div>
            </div>

            <div class="border border-gray-200 overflow-hidden rounded-lg col-span-12 flex flex-col md:flex-row">
                <div class="p-6 md:p-10">
                    <div class="mb-4 font-black text-2xl">Incentives</div>
                    <p class="mb-4">Negotiating, coordinating, and consequently tracking and monitoring incentives is costly and sometimes doesn't equal the outcome.</p>
                    <p>Blockchain technology offers ways to rethink incentives B2B and B2C. Token rewards such as NFTs are a great tool to incentivize the behaviors of travelers, communities, or partners. In a hotel, a possible use case could be offering a free night after a minimum stay of some nights in this hotel, and smart contracts could completely automize the implementation. NFTs also allow for creative gamification ideas.</p>                    
                </div>
                <div class="border-t md:border-t-0 md:border-l border-gray-200 bg-gray-100 p-6 md:p-10 flex-shrink-0 md:w-1/3 flex flex-col justify-center">
                    <div class="mb-2 font-bold">Benefits</div>
                    <ul class="list-decimal pl-4">
                        <li>Offers new ways to incentives travelers or partners</li>
                        <li>Automizes the coordination of the incentive</li>
                        <li>Reduces overall resources for incentivization B2B and B2C</li>
                        
                    </ul>
                </div>
            </div>

            <div class="border border-gray-200 overflow-hidden rounded-lg col-span-12 flex flex-col md:flex-row">
                <div class="p-6 md:p-10">
                    <div class="mb-4 font-black text-2xl">Voucher</div>
                    <p class="mb-4">Implementing voucher solutions can be complex, especially when multiple parties are involved.</p>
                    <p>The Camino ecosystem provides a simple setup for companies to add and redeem vouchers, with added flexibility and higher loyalty potential.</p>                    
                </div>
                <div class="border-t md:border-t-0 md:border-l border-gray-200 bg-gray-100 p-6 md:p-10 flex-shrink-0 md:w-1/3 flex flex-col justify-center">
                    <div class="mb-2 font-bold">Benefits</div>
                    <ul class="list-decimal pl-4">
                        <li>Reduces the complexity of the implentation of vouchers with multiple partners</li>
                        <li>Automizes the redemption and reconciliation</li>
                        <li>Increases customer experience and loyalty</li>
                    </ul>
                </div>
            </div>

        </div>

        <!-- ######################### -->

        <div class="font-black text-4xl mb-6 text-center mt-24">Customer loyalty and new revenue streams</div>

        <div class="grid grid-cols-12 gap-6">

            <div class="border border-gray-200 overflow-hidden rounded-lg col-span-12 flex flex-col md:flex-row">
                <div class="p-6 md:p-10">
                    <div class="mb-4 font-black text-2xl">Distribution</div>
                    <p class="mb-4">Traditional distribution models in the hospitality industry are expensive as most hotels rely on gate-keeping OTAs, limiting opportunities for both customers and hotels.</p>
                    <p>Leverage Camino Network's blockchain infrastructure to build direct distribution channels owned and governed by hospitality companies that serve customers the way hotels want. Additionally, various distribution options powered by NFT technology and smart contracts earn the hospitality industry an extra commission. Implement trading models such as B2B(2C), B2C(2B), C2B, and even C2C, which allow customers to resell room nights benefiting both hotel companies (with a commission) and customers.</p>                    
                </div>
                <div class="border-t md:border-t-0 md:border-l border-gray-200 bg-gray-100 p-6 md:p-10 flex-shrink-0 md:w-1/3 flex flex-col justify-center">
                    <div class="mb-2 font-bold">Benefits</div>
                    <ul class="list-decimal pl-4">
                        <li>Strengthens direct distribution and implements new direct distribution channels that are owned and governed by the participating hospitality companies</li>
                        <li>Unlocks new revenue streams and extra commissions for hotels by allowing the customer to trade room nights and stays („tradable rates”)  </li>
                        <li>Enhances the overall customer experience by providing a wider range of flexible trading options</li>
                    </ul>
                </div>
            </div>

            <div class="border border-gray-200 overflow-hidden rounded-lg col-span-12 flex flex-col md:flex-row">
                <div class="p-6 md:p-10">
                    <div class="mb-4 font-black text-2xl">Payment & settlement</div>
                    <p class="mb-4">The payment and settlement process in the hospitality industry is typically complex, time-consuming, and costly.</p>
                    <p>The payment process on Camino Network will change this as all travel services along the value chain take place in a global peer-to-peer network, which is extremely fast, and results in significantly lower transaction costs. This could mean that even micro services and products could be offered online by the hospitality industry at a fraction of today's transaction cost. The settlement between suppliers, partners, and B2B customers could be done more efficiently thanks to automatization. Records on the Camino Network will provide auditable data. Another advantage is the security aspect, which is given by definition by a blockchain and reduces fraud significantly.</p>                    
                </div>
                <div class="border-t md:border-t-0 md:border-l border-gray-200 bg-gray-100 p-6 md:p-10 flex-shrink-0 md:w-1/3 flex flex-col justify-center">
                    <div class="mb-2 font-bold">Benefits</div>
                    <ul class="list-decimal pl-4">
                        <li>Reduces transaction costs massively and makes payment and settlement automatic (in the same “logical second”)</li>
                        <li>Provides immutable records of transactions that can be used for audits or disputes</li>
                        <li>Reduces the paperwork between partners and increases security along the process</li>
                    </ul>
                </div>
            </div>

            <div class="border border-gray-200 overflow-hidden rounded-lg col-span-12 flex flex-col md:flex-row">
                <div class="p-6 md:p-10">
                    <div class="mb-4 font-black text-2xl">Room type mapping</div>
                    <p class="mb-4">The lack of standardization in the travel industry causes confusion and errors between hotels, vacation homes, and booking platforms because everyone describes room types differently.</p>
                    <p>With web3 technology, a digital wallet could be allocated to each room, creating one single source of truth where all information is stored. This enables distribution platforms to pull the information from a single source of truth down to the room information.</p>                    
                </div>
                <div class="border-t md:border-t-0 md:border-l border-gray-200 bg-gray-100 p-6 md:p-10 flex-shrink-0 md:w-1/3 flex flex-col justify-center">
                    <div class="mb-2 font-bold">Benefits</div>
                    <ul class="list-decimal pl-4">
                        <li>Creates standardization for room types</li>
                        <li>Provides a single source of truth for businesses</li>
                        <li>Enhances the distribution and accuracy of room content</li>
                    </ul>
                </div>
            </div>

        </div>

        <!-- ######################### -->

        <div class="font-black text-4xl mb-6 text-center mt-24">Personalization and customer experience</div>

        <div class="grid grid-cols-12 gap-6">

            <div class="border border-gray-200 overflow-hidden rounded-lg col-span-12 flex flex-col md:flex-row">
                <div class="p-6 md:p-10">
                    <div class="mb-4 font-black text-2xl">Token gated access</div>
                    <p class="mb-4">Lack of staff and resources is a common problem in the hospitality industry. Thus, the check-in process can often be a bottleneck, leading to waiting times for customers.</p>
                    <p>With web3 technology, the first touchpoint with customers is true hospitality, as all check-in procedures are taken care of automatically. Imagine a hotel without any physical keys and check-in processes. With the help of NFTs, securing a room key as a virtual token is easily possible. With this key, a hotel could handle the access of any customer to any area of a hotel or resort. This token-gated access can be attached to preconditions such as whether the payment is made or whether the customer has a certain loyalty or booking status.</p>                    
                </div>
                <div class="border-t md:border-t-0 md:border-l border-gray-200 bg-gray-100 p-6 md:p-10 flex-shrink-0 md:w-1/3 flex flex-col justify-center">
                    <div class="mb-2 font-bold">Benefits</div>
                    <ul class="list-decimal pl-4">
                        <li>Allows for secure and seamless check-in processes</li>
                        <li>Reduces the resources needed for procedures and increases focus on hospitality</li>
                        <li>Leverages new possibilities of access control and loyalty programs</li>
                    </ul>
                </div>
            </div>

            <div class="border border-gray-200 overflow-hidden rounded-lg col-span-12 flex flex-col md:flex-row">
                <div class="p-6 md:p-10">
                    <div class="mb-4 font-black text-2xl">User-generated content</div>
                    <p class="mb-4">User-generated content provides more authentic and trustworthy marketing for businesses and can increase engagement immensely. The problem is that guests often do not have a high incentive to share their experiences.</p>
                    <p>Leverage web3 technologies to increase customer engagement with user-generated content. Users can generate content for various services or products on the blockchain and get rewarded instantly.</p>
                </div>
                <div class="border-t md:border-t-0 md:border-l border-gray-200 bg-gray-100 p-6 md:p-10 flex-shrink-0 md:w-1/3 flex flex-col justify-center">
                    <div class="mb-2 font-bold">Benefits</div>
                    <ul class="list-decimal pl-4">
                        <li>Increases user-generated-content for businesses effortlessly</li>
                        <li>Offers new ways to incentivize customers</li>
                        <li>Increases sales with trustworthy and authentic content</li>
                    </ul>
                </div>
            </div>

            <div class="border border-gray-200 overflow-hidden rounded-lg col-span-12 flex flex-col md:flex-row">
                <div class="p-6 md:p-10">
                    <div class="mb-4 font-black text-2xl">Information services</div>
                    <p class="mb-4">Integrating information services such as disaster or weather information for customers can be challenging for the hospitality industry. The compatibility of different systems, data security issues, and the overall cost of integrating can prevent the implementation of such valuable services for the customers.</p>
                    <p>With Camino Network, any kind of information service, such as disaster or weather information, can be easily provided for customers.</p>
                </div>
                <div class="border-t md:border-t-0 md:border-l border-gray-200 bg-gray-100 p-6 md:p-10 flex-shrink-0 md:w-1/3 flex flex-col justify-center">
                    <div class="mb-2 font-bold">Benefits</div>
                    <ul class="list-decimal pl-4">
                        <li>Creates a single source of truth for information services</li>
                        <li>Reduces integration costs of information services</li>
                        <li>Increases value for customers</li>
                    </ul>
                </div>
            </div>

            <div class="border border-gray-200 overflow-hidden rounded-lg col-span-12 flex flex-col md:flex-row">
                <div class="p-6 md:p-10">
                    <div class="mb-4 font-black text-2xl">Traveler identity</div>
                    <p class="mb-4">Along the entire travel supply chain, the industry relies on identity verification to ensure passengers' safety and security and comply with regulatory requirements. However, the current process can be slow, inefficient, and vulnerable to fraud.</p>
                    <p>Self-Sovereign Identity (SSI) introduces a new era of data management, providing travelers with true control over their personal information. This reduces the need for companies to store sensitive records, mitigating the risk of data leaks. Now travelers can create a single wallet containing all their data. This allows them to have accounts across various websites without multiple passwords, store essential travel information, and attach identity verification for secure travel bookings and other transactions.</p>
                </div>
                <div class="border-t md:border-t-0 md:border-l border-gray-200 bg-gray-100 p-6 md:p-10 flex-shrink-0 md:w-1/3 flex flex-col justify-center">
                    <div class="mb-2 font-bold">Benefits</div>
                    <ul class="list-decimal pl-4">
                        <li>Streamlines the identity verification process</li>
                        <li>Enhances the overall travel experience by reducing wait times</li>
                        <li>Shifts the control of personal data back to travelers</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Testimonial section starts -->
<div class="py-16 md:py-32 bg-gray-900 text-white relative">
    <div class="max-w-screen-xl px-8 md:px-4 mx-auto relative z-10">
        <blockquote class="text-xl md:text-3xl text-center max-w-screen-lg mx-auto font-bold md:leading-10">
            “The Camino blockchain addresses not only existing issues like high transactions and commissions, high payment costs, expensive systems, and fraud but also enables hoteliers to be future-proof by supporting, for example, digital IDs and digital currencies.​”
        </blockquote>
        <div class="flex items-center justify-center mt-10">
            <img class="w-14 md:w-20 h-14 md:h-20 mr-4 md:mr-6 rounded-lg" src="/images/ankehsu.png" alt="">
            <div>
                <div class="font-black md:text-2xl">Anke Hsu</div>
                <div class="text-secondary text-xs md:text-base uppercase tracking-wider font-black">Head of Business Development</div>
            </div>
        </div>
    </div>
    {% image "src/img/testimonial-bg.jpg", "Shema showing connections of web2", "absolute w-full h-full z-0 inset-0 object-cover opacity-30" %}
</div>
<!-- Testimonial section ends -->

<section class="border-t border-gray-200 py-16 md:py-32">
    <div class="max-w-screen-xl px-8 md:px-4 mx-auto">
        <div class="flex py-12 md:flex-row flex-col items-center">
            <div class="lg:max-w-lg lg:w-full md:w-1/2 w-full relative">
                <iframe class="rounded-lg mb-4 md:mb-0 h-[180px] md:h-[200px] lg:h-[300px]" width="100%" height="auto" src="https://www.youtube-nocookie.com/embed/cQwld3zrKJc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center">
                <h2 class="text-2xl lg:text-3xl mb-4 font-black ">Room information reimagined with web3</h2>
                <p class="mb-8 text-muted text-sm md:text-base">
                    What sounds unimaginable today could soon become a reality powered by blockchain: Complete and easily accessible hotel room information. This will be possible by creating unique hotel wallets on Camino that are easily accessible with a simple API connection and entail all the hotel's content.
                </p>
                <a class="text-primary hover: inline-flex items-center" href="https://www.youtube.com/watch?v=cQwld3zrKJc" target="_blank" rel="noopener noreferrer">
                    Go to Video
                    <svg class="ml-2 w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path></svg>
                </a>
            </div>
        </div> 
    </div>  
</section>