<!DOCTYPE html>
<html lang="en" class="bg-gray-900">
<head class="overflow-x-hidden">

    <title>{{ title }} - Chain4Travel</title>
    <meta name="description" content="{{ description }}">

    <link rel=“canonical” href=“https://www.chain4travel.com{{page.url}}” />

    <meta charset="UTF-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css?v={% version %}"/>
    <script src="/js/alpine.js?v={% version %}" defer></script>

    <!-- Theme color -->
    <meta name="theme-color" content="#171717" />
    <link rel="icon" href="/img/meta/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/meta/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/meta/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/meta/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://www.chain4travel.com/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{title}} - Chain4Travel">
    <meta property="og:description" content="{{description}}">
    <meta property="og:image" content="{% if socialImage %}https://www.chain4travel.com/img/{{socialImage}} {% else %} https://www.chain4travel.com/img/meta/social.png {% endif %}">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@Chain4Travel" />
    <meta name="twitter:title" content="{{title}} - Chain4Travel">
    <meta name="twitter:description" content="{{description}}">
    <meta name="twitter:image" content="{% if socialImage %}https://www.chain4travel.com/img/{{socialImage}} {% else %} https://www.chain4travel.com/img/meta/social.png {% endif %}">

    {% if noindex %}<meta name="robots" content="noindex">{% endif %}
    
</head>
<body class="text-gray-900 bg-white">

<!-- Cookie Consent by TermsFeed https://www.TermsFeed.com -->
<script type="text/javascript" src="https://www.termsfeed.com/public/cookie-consent/4.1.0/cookie-consent.js" charset="UTF-8"></script>
<script type="text/javascript" charset="UTF-8">
document.addEventListener('DOMContentLoaded', function () {
cookieconsent.run({"notice_banner_type":"headline","consent_type":"express","palette":"dark","language":"en","page_load_consent_levels":["strictly-necessary"],"notice_banner_reject_button_hide":false,"preferences_center_close_button_hide":false,"page_refresh_confirmation_buttons":false});
});
</script>

<!-- Google Analytics -->
<script type="text/plain" data-cookie-consent="tracking" cookie-consent="tracking" async src="https://www.googletagmanager.com/gtag/js?id=G-HCFQ9121EE"></script>
    <script type="text/plain" data-cookie-consent="tracking" cookie-consent="tracking">
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-HCFQ9121EE');
    </script>
<!-- end of Google Analytics-->

<noscript>Free cookie consent management tool by <a href="https://www.termsfeed.com/">TermsFeed</a></noscript>
<!-- End Cookie Consent by TermsFeed https://www.TermsFeed.com -->


    {% include "header.html" %}
    {{ content | safe }}
    {% include "footer.html" %}
</body>
</html>