<!DOCTYPE html>
<html lang="en" class="bg-gray-900">
<head class="overflow-x-hidden">

    <title>{{ title }} - Chain4Travel</title>
    <meta name="description" content="{{ description }}">

    <link rel="canonical" href="https://chain4travel.com{{page.url}}" />

    <meta charset="UTF-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css?v={% version %}"/>
    <script src="/js/alpine.js?v={% version %}" defer></script>

    <!-- Theme color -->
    <meta name="theme-color" content="#171717" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://chain4travel.com/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{title}} - Chain4Travel">
    <meta property="og:description" content="{{description}}">
    <meta property="og:image" content="{% if socialImage %}https://chain4travel.com/{{socialImage}} {% else %} https://chain4travel.com/social.png {% endif %}">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@Chain4Travel" />
    <meta name="twitter:title" content="{{title}} - Chain4Travel">
    <meta name="twitter:description" content="{{description}}">
    <meta name="twitter:image" content="{% if socialImage %}https://chain4travel.com/{{socialImage}} {% else %} https://chain4travel.com/social.png {% endif %}">

    <!-- Google Analytics -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script type="text/plain" cookie-consent="tracking" async src="https://www.googletagmanager.com/gtag/js?id=G-HCFQ9121EE"></script>
    <script type="text/plain" cookie-consent="tracking">
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-HCFQ9121EE');
    </script>
    <!-- end of Google Analytics-->
</head>
<body class="overflow-x-hidden font-sans text-gray-100 bg-gray-900">

    {% include "header.html" %}
    {{ content | safe }}
    {% include "footer.html" %}
</body>
</html>