<!DOCTYPE html>
<html lang="en" class="bg-gray-900">
<head class="overflow-x-hidden">

    <title>{{ title }} - Chain4Travel</title>
    <meta name="description" content="{{ description }}">

    <link rel=“canonical” href=“https://www.chain4travel.com{{page.url}}” />

    <meta charset="UTF-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css?v={% version %}"/>
    <script src="/js/alpine.js?v={% version %}" defer></script>

    <!-- Theme color -->
    <meta name="theme-color" content="#171717" />

    <link rel="icon" type="image/x-icon" href="/img/meta/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/meta/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/meta/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/meta/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://www.chain4travel.com/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{title}} - Chain4Travel">
    <meta property="og:description" content="{{description}}">
    <meta property="og:image" content="{% if socialImage %}https://www.chain4travel.com/img/{{socialImage}} {% else %} https://www.chain4travel.com/img/meta/social.png {% endif %}">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@Chain4Travel" />
    <meta name="twitter:title" content="{{title}} - Chain4Travel">
    <meta name="twitter:description" content="{{description}}">
    <meta name="twitter:image" content="{% if socialImage %}https://www.chain4travel.com/img/{{socialImage}} {% else %} https://www.chain4travel.com/img/meta/social.png {% endif %}">

    <!-- Cookie Consent by TermsFeed Privacy Generator https://www.TermsFeed.com -->
    <script type="text/javascript" src="https://www.termsfeed.com/public/cookie-consent/4.0.0/cookie-consent.js" charset="UTF-8"></script>
    <script type="text/javascript" charset="UTF-8">
    document.addEventListener('DOMContentLoaded', function () {
    cookieconsent.run({"notice_banner_type":"simple","consent_type":"express","palette":"dark","language":"en","page_load_consent_levels":["strictly-necessary"],"notice_banner_reject_button_hide":false,"preferences_center_close_button_hide":false,"page_refresh_confirmation_buttons":false,"website_name":"Chain4Travel","website_privacy_policy_url":"https://chain4travel.com/data-privacy/"});
    });
    </script>

    <noscript>ePrivacy and GPDR Cookie Consent management by <a href="https://www.TermsFeed.com/" rel="nofollow">TermsFeed Privacy Generator</a></noscript>
    <!-- End Cookie Consent by TermsFeed Privacy Generator https://www.TermsFeed.com -->

    <!-- Google Analytics -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script type="text/plain" cookie-consent="tracking" async src="https://www.googletagmanager.com/gtag/js?id=G-HCFQ9121EE"></script>
    <script type="text/plain" cookie-consent="tracking">
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-HCFQ9121EE');
    </script>
    <!-- end of Google Analytics-->
    
</head>
<body class="bg-white text-gray-900">

    {% include "header.html" %}

    <section class="py-16 md:py-20 bg-gray-900 text-white">
        <div class="max-w-screen-lg px-8 md:px-4 mx-auto flex flex-col items-center relative z-10 text-center">
            <div class="text-secondary uppercase text-sm font-bold tracking-widest text-center mb-4 lg:mb-8">
                Blog article - 
                {% for x in blogposts %}
                {% if x.title == title %}
                    {{x.date}}
                {% endif %}
                {% endfor %}
            </div>
            <h1 class="lg:text-6xl text-3xl mb-8 font-black text-white">
                {{title}}
            </h1>
            <p class="text-gray-200 text-lg md:pr-8">
                {{description}}
            </p>
        </div>
    </section>

    <section class="bg-gray-900 border-t border-gray-700">
        <div class="max-w-screen-lg py-4 px-8 md:px-4 mx-auto md:flex items-center justify-between">
            <div class="flex items-center justify-center">
                <img alt="testimonial-photo" src="../img/{{authorslug}}.png" class="w-8 md:w-12 h-8 md:h-12 rounded-full flex-shrink-0 object-cover object-center">
                <span class="pl-4 items-center text-left text-white/75">
                    By {{authorname}}
                </span>
            </div>
            <div class="flex items-center justify-center mt-2 md:mt-0">
                <span class="mr-2 text-sm text-gray-400 hidden md:inline-block">Share:</span>
                <a
                    target="_blank"
                    href="https://twitter.com/share?text=Check out this new blog post by Chain4Travel&url=https://www.chain4travel.com{{permalink}}"
                    class="btn-white-ghost">
                        <svg class="w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m4 20 6.86-6.86m0 0L16 20h4l-6.86-9.14m-2.28 2.28L4 4h4l5.14 6.86m0 0L20 4"/></svg>
                    </a>
                <a
                    target="_blank"
                    href="https://www.linkedin.com/shareArticle?mini=true&url=https://chain4travel.com{{permalink}}&title={{title}}&summary={{description}}&source=https://chain4travel.com{{permalink}}"
                    class="btn-white-ghost">
                        <svg class="w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 11v5m8 0v-3c0-.67-.4-2-2-2s-2 1.33-2 2m0 3v-3m0 0v-2M8 8h.01M5 21h14a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v14c0 1.1.9 2 2 2Z"/></svg>
                    </a>
                <a
                    target="_blank"
                    href="https://www.reddit.com/submit?url=https://www.chain4travel.com{{permalink}}&title=Check out this new blog post by Chain4Travel"
                    class="btn-white-ghost">
                        <svg class="w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8c-2.86 0-5.4.96-7.05 2.46a2.5 2.5 0 1 0-1.93 4.5C3.34 18.32 7.24 21 12 21c4.76 0 8.66-2.67 8.98-6.05a2.5 2.5 0 1 0-1.93-4.49A10.55 10.55 0 0 0 12 8Zm0 0 1-5 5 1m-8 13a5 5 0 0 0 2 .5 5 5 0 0 0 2-.5m4-13a1 1 0 1 0 2 0 1 1 0 0 0-2 0Zm-8.5 9a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Zm6 0a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Z"/></svg>
                    </a>
                <a
                    href="mailto:?subject=Check out this new blog post by Chain4Travel&body=Hi,I found this blog post and thought you might like it https://chain4travel.com{{permalink}}"
                    class="btn-white-ghost">
                        <svg class="w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m7 9 3.75 3a2 2 0 0 0 2.5 0L17 9M3 17V7c0-1.1.9-2 2-2h14a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2Z"/></svg>
                    </a>
            </div>
        </div>
    </section>

    {{ content | safe }}

    <section class="bg-gray-900 border-b border-gray-700">
        <div class="max-w-screen-lg py-4 px-8 md:px-4 mx-auto md:flex items-center justify-center">
            <div class="flex items-center justify-center mt-2 md:mt-0">
                <span class="mr-2 text-sm text-gray-400 hidden md:inline-block">Share:</span>
                <a
                    target="_blank"
                    href="https://twitter.com/share?text=Check out this new blog post by Chain4Travel&url=https://www.chain4travel.com{{permalink}}"
                    class="btn-white-ghost">
                        <svg class="w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m4 20 6.86-6.86m0 0L16 20h4l-6.86-9.14m-2.28 2.28L4 4h4l5.14 6.86m0 0L20 4"/></svg>
                    </a>
                <a
                    target="_blank"
                    href="https://www.linkedin.com/shareArticle?mini=true&url=https://chain4travel.com{{permalink}}&title={{title}}&summary={{description}}&source=https://chain4travel.com{{permalink}}"
                    class="btn-white-ghost">
                        <svg class="w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 11v5m8 0v-3c0-.67-.4-2-2-2s-2 1.33-2 2m0 3v-3m0 0v-2M8 8h.01M5 21h14a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v14c0 1.1.9 2 2 2Z"/></svg>
                    </a>
                <a
                    target="_blank"
                    href="https://www.reddit.com/submit?url=https://www.chain4travel.com{{permalink}}&title=Check out this new blog post by Chain4Travel"
                    class="btn-white-ghost">
                        <svg class="w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8c-2.86 0-5.4.96-7.05 2.46a2.5 2.5 0 1 0-1.93 4.5C3.34 18.32 7.24 21 12 21c4.76 0 8.66-2.67 8.98-6.05a2.5 2.5 0 1 0-1.93-4.49A10.55 10.55 0 0 0 12 8Zm0 0 1-5 5 1m-8 13a5 5 0 0 0 2 .5 5 5 0 0 0 2-.5m4-13a1 1 0 1 0 2 0 1 1 0 0 0-2 0Zm-8.5 9a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Zm6 0a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Z"/></svg>
                    </a>
                <a
                    href="mailto:?subject=Check out this new blog post by Chain4Travel&body=Hi,I found this blog post and thought you might like it https://chain4travel.com{{permalink}}"
                    class="btn-white-ghost">
                        <svg class="w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m7 9 3.75 3a2 2 0 0 0 2.5 0L17 9M3 17V7c0-1.1.9-2 2-2h14a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2Z"/></svg>
                    </a>
            </div>
        </div>
    </section>

    {% include "blogpost-nav.html" %}
    
    {% include "footer.html" %}
</body>
</html>