@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

*[id]:target {
  padding-top: 200px;
  margin-top: -200px;
}

.termsfeed-com---palette-dark .cc-nb-okagree,
.termsfeed-com---palette-dark .cc-cp-foot-save {
  background-color: #30e8bf;
  color: #fff;
}

.termsfeed-com---palette-dark .cc-nb-reject {
  background-color: #aaa;
}