@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
    url('/fonts/inter-v12-latin-regular.woff2') format('woff2'),
    url('/fonts/inter-v12-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local(''),
    url('/fonts/inter-v12-latin-600.woff2') format('woff2'),
    url('/fonts/inter-v12-latin-600.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''),
    url('/fonts/inter-v12-latin-700.woff2') format('woff2'),
    url('/fonts/inter-v12-latin-700.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local(''),
    url('/fonts/inter-v12-latin-900.woff2') format('woff2'),
    url('/fonts/inter-v12-latin-900.woff') format('woff');
}

[x-cloak] {
  display: none !important;
}

*[id]:target {
  padding-top: 112px;
  margin-top: -112px;
  outline: 0;
}

html {
  scroll-behavior: smooth;
}

.btn {
  @apply transition-colors h-10 inline-flex items-center text-sm justify-center px-4 rounded-lg cursor-pointer whitespace-nowrap;
}

.btn-primary,
.btn-white,
.btn-black,
.btn-black-outline, 
.btn-white-outline,
.btn-black-ghost,
.btn-white-ghost {
  @apply transition-colors border-2 h-10 inline-flex items-center text-sm justify-center px-4 rounded-lg cursor-pointer whitespace-nowrap
}

.btn-primary {
  @apply font-semibold bg-primary text-white border-primary hover:bg-primaryDark hover:border-primaryDark
}

.btn-white {
  @apply font-semibold bg-white border-white text-gray-900 hover:bg-gray-300 hover:border-gray-300
}

.btn-white-outline {
  @apply font-semibold bg-none text-white border-2 border-gray-500 hover:border-gray-300
}

.btn-black-outline {
  @apply font-semibold bg-none text-gray-900 border-2 border-gray-500 hover:border-gray-900
}

.btn-black {
  @apply font-semibold bg-gray-900 border-gray-900 text-white hover:bg-gray-700 hover:border-gray-700
}

.btn-black-ghost {
  @apply border-0 text-gray-900 hover:bg-gray-300
}
.btn-white-ghost {
  @apply border-0 text-white hover:bg-gray-700
}

.bg-unchained {
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1048%26quot%3b)' fill='none'%3e%3cpath d='M980.91 59.62 a184.88 184.88 0 1 0 369.76 0 a184.88 184.88 0 1 0 -369.76 0z' fill='rgba(142%2c 61%2c 28%2c 0.21)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M348.1217921247246 77.8892905503816L271.8796582129203-12.972546446060036 181.01782121647864 63.26958746574431 257.25995512828297 154.13142446218595z' fill='rgba(142%2c 61%2c 28%2c 0.21)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1244.9 93.41 a141.72 141.72 0 1 0 283.44 0 a141.72 141.72 0 1 0 -283.44 0z' fill='rgba(142%2c 61%2c 28%2c 0.21)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M373.52 324.23 a134.8 134.8 0 1 0 269.6 0 a134.8 134.8 0 1 0 -269.6 0z' fill='rgba(142%2c 61%2c 28%2c 0.21)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M994.4661255679945 351.88677997733174L1152.1678516856593 371.2501171723194 1171.531188880647 213.5483910546545 1013.8294627629821 194.18505385966688z' fill='rgba(142%2c 61%2c 28%2c 0.21)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M986.76 433.2 a128.39 128.39 0 1 0 256.78 0 a128.39 128.39 0 1 0 -256.78 0z' fill='rgba(142%2c 61%2c 28%2c 0.21)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M971.6520759614081 196.66792691979498L845.5082873655746 225.79051521464046 874.6308756604201 351.9343038104739 1000.7746642562536 322.81171551562846z' fill='rgba(142%2c 61%2c 28%2c 0.21)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M246.06 345.05 a120.87 120.87 0 1 0 241.74 0 a120.87 120.87 0 1 0 -241.74 0z' fill='rgba(142%2c 61%2c 28%2c 0.21)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M587.84 295.21 a154.26 154.26 0 1 0 308.52 0 a154.26 154.26 0 1 0 -308.52 0z' fill='rgba(142%2c 61%2c 28%2c 0.21)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1034.21 403.36 a149.09 149.09 0 1 0 298.18 0 a149.09 149.09 0 1 0 -298.18 0z' fill='rgba(142%2c 61%2c 28%2c 0.21)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1361.194639524965 640.4901833061324L1497.4796702704052 576.9394297776441 1433.928916741917 440.65439903220386 1297.6438859964767 504.2051525606921z' fill='rgba(142%2c 61%2c 28%2c 0.21)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M27.73 363.77 a159.31 159.31 0 1 0 318.62 0 a159.31 159.31 0 1 0 -318.62 0z' fill='rgba(142%2c 61%2c 28%2c 0.21)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M510.5297894366366 323.5855979303494L488.13988789288254 164.27317039875877 328.82746036129186 186.66307194251283 351.2173619050459 345.97549947410346z' fill='rgba(142%2c 61%2c 28%2c 0.21)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M511.86 431.55 a169.43 169.43 0 1 0 338.86 0 a169.43 169.43 0 1 0 -338.86 0z' fill='rgba(142%2c 61%2c 28%2c 0.21)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M59.097528646348685 352.0471668788082L107.70640831452678 294.11735990227726-3.4927419843586236 250.16894388827558z' fill='rgba(142%2c 61%2c 28%2c 0.21)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1048'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
}

/* styles for responsive youtube embed player */
.video-container {
  border-radius: 24px; 
  position: relative;
  padding-bottom: 56.25%; 
  padding-top: 30px; 
  height: 0; 
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%;
}

#mc_embed_signup form {
  margin: 0 !important;
}
#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
  margin: 0 !important;
}

#mc_embed_signup div.response {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
}

#mc_embed_signup div#mce-responses {
  padding: 0 !important;
  margin: 0 0 .5rem 0 !important;
}

#mc_embed_signup .helper_text,
#mc_embed_signup input[type="email"] {
  background-color: transparent !important;
}

#mc-embedded-subscribe {
  @apply transition-colors border-2 h-10 inline-flex items-center justify-center px-4 rounded-lg font-semibold bg-primary text-white border-primary m-0 cursor-pointer !important;
}

.termsfeed-com---nb-simple {
  max-width: 450px !important;
}

.termsfeed-com---nb .cc-nb-text {
  font-size: 14px !important;
}

.termsfeed-com---nb .cc-nb-main-container {
  padding: 2rem !important;
}

.termsfeed-com---palette-dark .cc-nb-okagree,
.termsfeed-com---palette-dark .cc-cp-foot-save {
  background-color: #fff !important;
  color: #111 !important;
}

.termsfeed-com---palette-dark .cc-nb-reject,
.termsfeed-com---palette-dark .cc-nb-changep {
  background-color: #333 !important;
  color: #fff !important;
}