@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.video-frame {
  box-shadow:
  16px 16px 64px 0 rgba(48, 232, 191, .25),
  -16px -16px 64px 0 rgba(255, 130, 52, .25);
}

#mc-embedded-subscribe-form {
  margin: 0 !important;
}

.helper_text {
  display: none !important;
}

#mc_embed_signup .mc-field-group {
  @apply w-full pb-2 !important;
}

#mc_embed_signup .mc-field-group label {
  font-size: 14px;
  text-align: left;
  width: 100%;
  display: block;
  margin-bottom: 0;
  margin-top: 8px;
  color: #ccc;
}

#mc_embed_signup input.button {
  @apply font-semibold w-auto text-dark bg-secondary py-1 mt-1 px-6 focus:outline-none hover:bg-white rounded md:text-lg h-auto font-sans justify-center;
}

#mc_embed_signup div.mc-field-group input {
  @apply placeholder-white bg-gray-800 border border-gray-700 rounded-lg block w-full text-white focus:border-secondary outline-none;
}

#mc_embed_signup input::placeholder {
  color: rgba(255,255,255,.5) !important;
}

#mc_embed_signup div.mc-field-group input.newsletterForm {
  text-indent: 0;
  @apply placeholder-white text-center bg-gray-800 border p-2 md:p-4 w-full text-xl border-gray-700 rounded-lg block focus:ring-2 text-white focus:ring-offset-gray-900 focus:ring-secondary
}

#mce-responses {
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}

#mc_embed_signup div.mce_inline_error {
  background: none !important;
  color: #ff9090 !important;
  font-size: 12px;
  line-height: 1;
  text-align: left;
  margin-bottom: 0 !important;
}

#mc_embed_signup #mce-success-response {
  margin: 0 0 .5rem 0;
  background: none !important;
  color: #FF8235 !important;
  font-size: 14px;
  font-weight: bold !important;
  width: 100%;
}

.termsfeed-com---nb-simple {
  max-width: 450px !important;
}

.termsfeed-com---nb .cc-nb-text {
  font-size: 14px !important;
}

.termsfeed-com---nb .cc-nb-main-container {
  padding: 2rem !important;
}

.termsfeed-com---palette-dark .cc-nb-okagree,
.termsfeed-com---palette-dark .cc-cp-foot-save {
  background-color: #fff !important;
  color: #111 !important;
}

.termsfeed-com---palette-dark .cc-nb-reject,
.termsfeed-com---palette-dark .cc-nb-changep {
  background-color: transparent !important;
  color: #fff !important;
}

.use-cases-bg {
  @apply border-y border-gray-800;
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='651' height='651' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23653315' stroke-width='.5'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23A25322'%3E%3Ccircle cx='769' cy='229' r='7'/%3E%3Ccircle cx='539' cy='269' r='7'/%3E%3Ccircle cx='603' cy='493' r='7'/%3E%3Ccircle cx='731' cy='737' r='7'/%3E%3Ccircle cx='520' cy='660' r='7'/%3E%3Ccircle cx='309' cy='538' r='7'/%3E%3Ccircle cx='295' cy='764' r='7'/%3E%3Ccircle cx='40' cy='599' r='7'/%3E%3Ccircle cx='102' cy='382' r='7'/%3E%3Ccircle cx='127' cy='80' r='7'/%3E%3Ccircle cx='370' cy='105' r='7'/%3E%3Ccircle cx='578' cy='42' r='7'/%3E%3Ccircle cx='237' cy='261' r='7'/%3E%3Ccircle cx='390' cy='382' r='7'/%3E%3C/g%3E%3C/svg%3E");
}

table {
  @apply w-full
}

table tr {
  @apply border-b border-gray-700;
}

div:not(.prose) table tr td,
div:not(.prose) table tr th {
  @apply py-2 px-4;
}

table tr.small td,
table tr.small th {
  @apply py-2 px-4;
}

.timetable-cell {
  @apply whitespace-nowrap font-mono text-sm align-top;
}

.timetable-cell-small {
  @apply whitespace-nowrap font-mono text-sm w-24;
}

/* styles for responsive youtube embed player */
.video-container { border-radius: 24px; position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; }
.video-container iframe, .video-container object, .video-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.prose a {
  @apply text-secondary cursor-pointer hover:no-underline
}

/* Camino Glas */

.camino-glas {
  border: 1px solid rgba(255,255,255,.25);
  box-shadow:
  inset -12px -12px 48px 0 rgba(177, 67, 252, .5),
  inset 12px 12px 48px 0 rgba(20,158,237, .5),
  0 0 24px 0 rgba(177, 67, 252, .3),
  0 0 24px 0 rgba(20,158,237, .3);
}